{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/user_management.js' %}"></script>
{% endblock %}


{% block body %}

    <h2>Reset password</h2><br>

    <div id="form_container">
        <form action="{% url 'user_management:forget_password' %}" id="first_form" method="post">
            {% csrf_token %}
            {{ first_form }}
            <br>
            <input class="btn btn-primary" type="submit" value="Reset Password">
        </form>
        <button onclick="return change_forms()" id="change_forms_button">I forgot my username</button>
        <form action="{% url 'user_management:forget_password' %}" id="second_form" method="post" style="display: none;">
            {% csrf_token %}
            {{ second_form }}
            <br>
            <input class="btn btn-primary" type="submit" value="Reset Password">
        </form>
    </div>  

{% endblock %}

