{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/user_management.js' %}"></script>
{% endblock %}


{% block body %}

    <h2>Reset password</h2>


    <form action="{% url 'user_management:forget_password' %}" id="first_form" method="post">
        {% csrf_token %}
        {{ first_form }}
        <input class="btn btn-primary" type="submit" value="Register">
    </form>


    <form action="{% url 'user_management:forget_password' %}" id="second_form" method="post">
        {% csrf_token %}
        {{ second_form }}
        <input class="btn btn-primary" type="submit" value="Register">
    </form>



{% endblock %}

