{% extends "layout.html" %}

{% block body %}


    <h2>Login page</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'user_management:login' %}" method="post">
        {% csrf_token %}
        {{ login_form }}
        <input type="hidden" name="redirect_url" value="{{ request.GET.next }}">
        <input class="btn btn-primary" type="submit" value="Login">
        <button class="btn btn-primary" type="button">
            <a style="color: white;" href="{% url 'user_management:forget_password' %}">Forgot password</a>
        </button>
    </form>

    Don't have an account? <a href="{% url 'user_management:register' %}">Register here.</a>


{% endblock %}