{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/user_management.js' %}"></script>
{% endblock %}

{% block headless %}
    <section class="vh-100 bg-image" id="form-section">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5" id="form-body">
                                <h2 class="text-uppercase text-center mb-5" id="form-header">Reset Password</h2>
                                <!-- Messages -->
                                {% if messages %}
                                    <div>
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <form action="{% url 'user_management:reset_password' reset_code %}" class="needs-validation" novalidate id="reset_password_form" method="post">
                                    {% csrf_token %}
                                    <div class="form-outline mb-4 form-floating">
                                        {{ reset_form.new_password }}
                                        <label class="form-label" for="password-field">New password</label>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please provide a new password.</div>
                                    </div>
                                    <div class="form-outline mb-4 form-floating">
                                        {{ reset_form.confirmation }}
                                        <label class="form-label" for="confirmation-field">Repeat password</label>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please repeat your password.</div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Update password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
