{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/user_management.js' %}"></script>
{% endblock %}


{% block body %}

    <h2>Reset password</h2>


    <form onsubmit="return check_password('reset_password_form');" action="{% url 'user_management:reset_password' reset_code %}"  id="reset_password_form" method="post">
        {% csrf_token %} 
        {{ form }}
        <button id="reset_password_button">Update password</button>
    </form>

{% endblock %}

