{% extends "layout.html" %}
{% load static %}

{% block body %}
    <div id="paper_space">

        <h3>{{ paper.title }}</h3>

        <form enctype="multipart/form-data" action="{% url 'file_handling:upload_paper_file' paper.pk %}" method="post">
            {% csrf_token %} 
            {{ new_paper_file_form }}
            <button id="change_password_button" type="submit">Save New Version</button>
        </form>

        <ul>
            {% for file in paper_files %}
                <li>
                    <a href="{% url 'file_handling:display_paper_file' file.pk %}">{{ file.file }}</a>
                </li>
            {% endfor %}
        </ul>

        <br>
        <ul>
            {% for link in links %}
                <li>
                    {{ link }}
                </li>
            {% endfor %}
        </ul>

        <form action="{% url 'paper_work:rename_paper' paper.pk %}" method="post">
            {% csrf_token %} 
            {{ rename_paper_form }}
            <button type="submit">Rename Paper</button>
        </form>


        <h3>Choose sources</h3>

        <form action="{% url 'paper_work:select_sources' paper.pk %}" method="post">
            {% csrf_token %} 
            {{ choose_sources_form }}
            <button type="submit">Choose</button>
        </form>


        <h3>Endnotes:</h3>

        <ul>
            {% for endnote in endnotes %}
            <li>{{ endnote.apa }}</li>
            {% endfor %}
        </ul><br><br>


        <form action="{% url 'paper_work:set_citation_style' paper.pk %}" method="post">
            {% csrf_token %} 
            {{ citation_form }}
            <button type="submit">Set citation style</button>
        </form><br><br>

        
    </div>
{% endblock %}
