{% extends "layout.html" %}
{% load static %}

{% block script %}
    
{% endblock %}

{% block headless %}
    <div class="author-field">
        <div class="{{ chapter }}author" id="{{ chapter }}author-field-{{ author_number }}">
            <label>Author Last Name: <input id="{{ chapter }}author-last_name-{{ author_number }}" name="{{ chapter }}last_name_{{ author_number }}" type="text" required></label>
            <label>Author First Name: <input id="{{ chapter }}author-first-name-{{ author_number }}" name="{{ chapter }}first_name_{{ author_number }}" type="text"></label>
            <label>Author Second Name: <input id="{{ chapter }}author-second-name-{{ author_number }}" name="{{ chapter }}second_name_{{ author_number }}" type="text"></label>
            <button id="{{ chapter }}add-author-button-{{ author_number }}" type="button">Add Author(s)</button>
            {% if author_number != 0 %}
                <button id="{{ chapter }}delete-author-button-{{ author_number }}" type="button">Delete Author</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
