{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/source.js' %}"></script>
{% endblock %}

{% block headless %}
    <div id="source-space-header">"{{ source }}" by {{ source.author }}</div>
    <div id="source-space-div">

        <div id="source-space">
            <!-- Messages -->
            {% if messages %}
                <div>
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <br>

            <h4>Reference</h4>
            <ul>
                <li>{{ reference.endnote_apa }}</li>
                <li>{{ reference.endnote_mla }}</li>
            </ul>
            <br><br>

            <form action="{% url 'bookshelf:add_quote' source.pk %}" id="new_quote_form" method="post">
                {% csrf_token %} 
                {{ new_quote_form }}
                <button type="submit">Add Quote</button>
            </form><br><br>


            <h3>Quotes</h3>
            <ul>
                {% for quote in quotes %}
                <div id="quote_{{ quote.pk }}">
                    <li>
                        {{ quote }} | Quote apa: {{ quote.apa }} | Quote mla: {{ quote.mla }}
                        <button class="delete_quote_buttons" id="{{ quote.pk }}">Delete Quote</button>
                    </li>
                </div>
                {% endfor %}
            </ul>

            <div id="source_id" style="display: none;">{{ source.pk }}</div>
            <div id="source-file-id" style="display: none;">{{ source_file.pk }}</div>
        </div>


        <div id="source-settings" style="display: none;">

            <div id="TODO">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                                <div class="card form-card" style="border-radius: 15px;">
                                    <div class="card-body p-5 form-body">
                                        <h2 class="text-uppercase text-center mb-4" id="form-header">Edit</h2>
                                        <h4>Source Info</h4>
                                        <form action="{% url 'bookshelf:alter_source' source.pk %}" method="post" id="alter-source-form-{{ source.pk }}" class="needs-validation edit-form" novalidate>
                                            {% csrf_token %}
                                            {{ alter_source_form.source_type }}
                                            {{ alter_source_form.number_of_authors }}
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.author }}
                                                <label class="form-label" for="author-field">Author</label>
                                                <div class="invalid-feedback">Please provide books title.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.title }}
                                                <label class="form-label" for="title-field">Title</label>
                                                <div class="invalid-feedback">Please provide books title.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.publishing_house }}
                                                <label class="form-label" for="publishing-house-field">Publishing House</label>
                                                <div class="invalid-feedback">Please provide books publishing house.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.year }}
                                                <label class="form-label" for="book-year-field">Year</label>
                                                <div class="invalid-feedback">Please provide publishing year.</div>
                                            </div>
                                        </form>
                                        <h4>Add link to source</h4>
                                        <form action="{% url 'bookshelf:add_link' source.pk %}" id="add-link-form-{{ source.pk }}" method="post" class="needs-validation edit-form" novalidate>
                                            {% csrf_token %}
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ link_form.link }}
                                                <label class="form-label" for="link-field">Link</label>
                                            </div>   
                                        </form>
                                        <h4>Upload source file</h4>
                                        <form enctype="multipart/form-data" action="{% url 'file_handling:upload_source_file' source.pk %}" method="post" id="upload-file-form-{{ source.pk }}" class="edit-form">
                                            {% csrf_token %}
                                            <div class="form-outline mb-4">         
                                                {{ upload_file_form.file }}
                                            </div>
                                        </form>

                                        <div class="d-flex justify-content-center">
                                            <input onclick="submit_source_forms('{{ source.pk }}')" type="button" value="Save Changes" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}