<ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'user_management:logout' %}">Logout</a></li>
        <li><a href="{% url 'user_management:change_password' %}">Change password</a></li>
        <li><a href="{% url 'work_space:create_space' %}">Create Space</a></li>
    {% else %}
        <li><a href="{% url 'user_management:login' %}">Login</a></li>
        <li><a href="{% url 'user_management:register' %}">Register</a></li>
    {% endif %}
</ul>

<span onclick="openNav()">open</span>


background: #c35252;

