{% extends "website/layout.html" %}
{% load static %}

{% block body %}

    <h2>Register page</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form onsubmit="return check_password('register_form');" action="{% url 'user_management:register' %}" id="register_form" method="post">
        {% csrf_token %}
        {{ register_form }}
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'user_management:login' %}">Log In here.</a>

{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}
