.messages 
{
    list-style: none;
    margin: 1em 0 2em;
    padding: 0;
}

.messages li 
{
    padding: 1em;
    width: 100%;
    line-height: 2.0em;
}

.messages li.info, .messages li.debug 
{
    background-color: #d0ebff;
}

.messages li.success 
{
    background-color: #b2f2bb;
}

.message li.warning 
{
    background-color: #ffec99;
}

.messages li.error 
{
    background-color: #ffe3e3;
}


/* The side navigation menu */
.sidenav 
{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a
  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover 
  {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn 
  {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main 
  {
    transition: margin-left .5s;
    padding: 5px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) 
  {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



/* Navbar */


/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.nav-links
{
  display: flex;
  align-items: center;
  background: #c35252;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.nav-links li
{
  list-style: none;
  margin: 0 12px;
}

.nav-links li a
{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.nav-links li a:before
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.nav-links li a:hover:before
{
  width: 100%;
}

.nav-links li.center a:before
{
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li.upward a:before
{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}

.nav-links li.upward a:hover:before
{
  bottom: 0px;
  opacity: 1;
}

.nav-links li.forward a:before
{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before
{
  transform: scaleX(1);
  transform-origin: left;
}

.nav-links .nav-right
{
  margin-left:auto;
}

body
{
  background-color: #459948;
}



#book_form, #article_form, #chapter_form, #webpage_form, #second_author
{
    display: none;
}

.alter_comment_forms
{
    display: none;
}



.badge.small
{
  font-size: 0.5em;
}

#rename-badge
{
 display: none;
}

#test:hover + #rename-badge
{
  display: inline;
}



.gradient-custom-3 
{
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(124, 125, 61, 0.5), rgba(124, 125, 61, 0.5));
  
  /* Chrome 26+, Safari 7+ */
  background: linear-gradient(to right, rgba(124, 125, 61, 0.5), rgba(124, 125, 61, 0.5))
}

/* Form submit button */
.gradient-custom-4 
{ 
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(189, 138, 61, 0.944), rgba(189, 138, 61, 0.944));
  
  /* Chrome 26+, Safari 7+ */
  background: linear-gradient(to right, rgba(189, 138, 61, 0.944), rgba(189, 138, 61, 0.944))
}


.right-source-buttons
{
  float: right;
  width: 30%;
  align-items: right;
}

.left-source-buttons
{
  width: auto;
  margin-right: 20px;
}

.source-settings-button
{
  margin-right: 1000px;
}

#close-nav-button
{
  display: none;
}

.white-button
{
  color: white;
}

@font-face 
{
  font-family: 'Special Elite', system-ui;
  src: url(/static/fonts/Special_Elite/SpecialElite-Regular.woff) format('woff')
}


.footer-elem
{
  display: inline;
  margin-right: 5px;
}

.footer-elems-left
{
  padding-left: 0px;
}

.footer-elems-right
{
  padding-right: 0px;
}


.source-link-button
{
  margin-right: 180px;
}

.previous-source-button
{
  margin-left: 180px;
}

