<body id="main">
    <div id="navbar">
        <ul class="nav-links" class="justify-content-end">
            {% if user.is_authenticated %}
                <li><a onclick="openNav()">Menu</a></li>
                <li class="center"><a href="{% url 'website:index' %}">Workspaces</a></li>
                <li class="upward"><a href="{% url 'user_management:change_password' %}">Change Password</a></li>
                <li class="forward"><a href="{% url 'user_management:logout' %}">Logout</a></li>
                <li><a class="dropdown">Settings</a></li>
                <li class="forward nav-right"><a href="{% url 'website:about' %}">About</a></li>
            {% else %}
                <li class="center"><a href="{% url 'user_management:login' %}">Login</a></li>
                <li class="center"><a href="{% url 'user_management:register' %}">Register</a></li>
                <li class="forward"><a href="{% url 'website:about' %}">About</a></li>
            {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
        <div id="sidenav" class="sidenav">
            <a class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Workspaces</a>
            <a href="{% url 'profile_page:profile_view' user.pk %}">Profile</a>
            <a href="#">Settings</a>
        </div>
    {% endif %}
    <main>
        {% if messages %}
            <div>
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block body %}{% endblock %}
    </main>
</body>



{% for book in books %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ book.pk }}">
    {{ book }}
</button>
<!-- Modal -->
<div class="modal fade modal-dialog modal-dialog-scrollable p-y-0   " id="modal-{{ book.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-{{ book.pk }}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-{{ book.pk }}-label">{{ book }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sed luctus magna in justo dignissim dignissim. Nulla eu libero feugiat, scelerisque ante ut, accumsan mi. Nullam eget augue pretium, ultrices ligula nec, scelerisque diam. Fusce dapibus porta sapien, molestie hendrerit nisi venenatis et. Nulla mollis pulvinar interdum. Quisque quis tristique enim. Sed non ullamcorper neque, nec cursus quam. Sed condimentum egestas mi. Ut mollis maximus sem, ut tempus diam malesuada id. Donec nunc dolor, dignissim vitae mi eu, blandit faucibus sem. Mauris lorem nisi, rhoncus sed lectus ut, condimentum iaculis elit. In nec tincidunt tellus. Nulla at fringilla orci.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div><br>
{% endfor %}


{% block css %}
    <link href="{% static 'css/work_space/styles.css' %}" rel="stylesheet">
{% endblock %}


<div id="test">{{ space }} <sup><span class="badge bg-secondary small" id="rename-badge"><i class="fa-solid fa-pencil"></i></span></sup></div>




<ul>
    {% for paper in papers %}
    <li>
        <a href="{% url 'paper_work:paper_space' paper.pk %}">{{ paper }}</a>
    </li>
    {% endfor %}
</ul><br><br>



<ul>
    {% for book in books %}
    <li>
       <a href="{% url 'bookshelf:source_space' book.pk %}">{{ book }}</a>
    </li>
    {% endfor %}
</ul><br><br><br><br>




<div class="form-check d-flex justify-content-center mb-5">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
    <label class="form-check-label" for="form2Example3g">
        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
    </label>
</div>


<div class="form-outline mb-4 input-group">
    <div class="form-outline mb-4 input-group" id="name-area">
        <input type="text" class="form-control form-control-lg">
        <input type="text" class="form-control form-control-lg">
    </div>
    <label class="form-label" for="name_area">First and last name</label>
</div>





<form onsubmit="return check_password('register_form');" action="{% url 'user_management:register' %}" id="register_form2" method="post">
    {% csrf_token %}
    {{ register_form }}
    <input class="btn btn-primary" type="submit" value="Register">
</form>

Already have an account? <a href="{% url 'user_management:login' %}">Log In here.</a><br><br><br>

<h1>New</h1>



<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="input-group">
    <span class="input-group-text">First and last name</span>
    <input type="text" aria-label="First name" class="form-control">
    <input type="text" aria-label="Last name" class="form-control">
</div>
<div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Password</label>
    </div>
    <div class="col-auto">
      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Must be 8-20 characters long.
      </span>
    </div>
</div><br><br><br>


<h3>Password resetting forms</h3><br><br>

<h2>Reset password</h2><br>

<div id="form_container">
    <form action="{% url 'user_management:forget_password' %}" id="first_form" method="post">
        {% csrf_token %}
        {{ first_form }}
        <br>
        <input class="btn btn-primary" type="submit" value="Reset Password">
    </form>
    <button onclick="return change_forms()" id="change_forms_button">I forgot my username</button>
    <form action="{% url 'user_management:forget_password' %}" id="second_form" method="post" style="display: none;">
        {% csrf_token %}
        {{ second_form }}
        <br>
        <input class="btn btn-primary" type="submit" value="Reset Password">
    </form>
</div>  





<h3>Login forms</h3><br><br>
<form action="{% url 'user_management:login' %}" method="post">
    {% csrf_token %}
    {{ login_form }}
    <input type="hidden" name="redirect_url" value="{{ request.GET.next }}">
    <input class="btn btn-primary" type="submit" value="Login">
</form><br>


Don't have an account? <a href="{% url 'user_management:register' %}">Register here.</a><br><br>

<button class="btn btn-primary" type="button">
    <a style="color: white;" href="{% url 'user_management:forget_password' %}">Forgot password</a>
</button><br>


<div class="form-outline mb-4">
    <input type="text" id="username-field" name="username" class="form-control form-control-lg" autocomplete="off" required/>
    <label class="form-label" for="username-field">Username</label>
</div>
<div class="form-outline mb-4">
    <input type="password" id="password-field" name="password" class="form-control form-control-lg" required/>
    <label class="form-label" for="password-field">Password</label>
</div>




<form onsubmit="return check_password('register_form');" action="{% url 'user_management:register' %}" id="register_form" method="post">
    {% csrf_token %}
    <div class="form-outline mb-4">
        <input type="text" id="username-field" name="username" class="form-control form-control-lg" autocomplete="off" required/>
        <label class="form-label" for="username-field">Username</label>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="first-name-field" name="first_name" class="form-control form-control-lg" required/>
        <label class="form-label" for="first-name-field">First Name</label>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="last-name-field" name="last_name" class="form-control form-control-lg" required/>
        <label class="form-label" for="last-name-field">Last Name</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" id="email-field" name="email" class="form-control form-control-lg" required/>
        <label class="form-label" for="email-field">Email</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="password-field" name="password" class="form-control form-control-lg" required/>
        <label class="form-label" for="password-field">Password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="confirmation-field" name="confirmation" class="form-control form-control-lg" required/>
        <label class="form-label" for="confirmation-field">Repeat password</label>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" value="Register" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
    </div>
    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'user_management:login' %}" class="fw-bold text-body"><u>Login here</u></a></p>
</form>



<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Reset password</h2>
                            <form action="{% url 'user_management:forget_password' %}" id="first_form" method="post">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <input type="text" id="username-field" name="username" class="form-control form-control-lg" autocomplete="off" required/>
                                    <label class="form-label" for="username-field">Username</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="email" id="email-field" name="email" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="email-field">Email</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Reset password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                </div>
                                <p class="text-center text-muted mt-5 mb-0">Forgot your username? <a onclick="return change_forms()" class="fw-bold text-body"><u>Click here</u></a></p>
                            </form>
                            <form action="{% url 'user_management:forget_password' %}" id="second_form" method="post" style="display: none;">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <input type="text" id="first-name-field" name="first_name" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="first-name-field">First Name</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="last-name-field" name="last_name" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="last-name-field">Last Name</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="email" id="email-field" name="email" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="email-field">Email</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Reset password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<form action="{% url 'user_management:reset_password' reset_code %}" id="reset_password_form" method="post">
    {% csrf_token %}
    <div class="form-outline mb-4">
        <input type="password" id="password-field" name="password" class="form-control form-control-lg" required/>
        <label class="form-label" for="password-field">New password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="confirmation-field" name="confirmation" class="form-control form-control-lg" required/>
        <label class="form-label" for="confirmation-field">Repeat password</label>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" value="Update password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
    </div>
</form>


<h2>Reset password</h2>
<form onsubmit="return check_password('reset_password_form');" action="{% url 'user_management:reset_password' reset_code %}"  id="reset_password_form2" method="post">
    {% csrf_token %} 
    {{ form }}
    <button id="reset_password_button">Update password</button>
</form>


<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">