<body id="main">
    <div id="navbar">
        <ul class="nav-links" class="justify-content-end">
            {% if user.is_authenticated %}
                <li><a onclick="openNav()">Menu</a></li>
                <li class="center"><a href="{% url 'website:index' %}">Workspaces</a></li>
                <li class="upward"><a href="{% url 'user_management:change_password' %}">Change Password</a></li>
                <li class="forward"><a href="{% url 'user_management:logout' %}">Logout</a></li>
                <li><a class="dropdown">Settings</a></li>
                <li class="forward nav-right"><a href="{% url 'website:about' %}">About</a></li>
            {% else %}
                <li class="center"><a href="{% url 'user_management:login' %}">Login</a></li>
                <li class="center"><a href="{% url 'user_management:register' %}">Register</a></li>
                <li class="forward"><a href="{% url 'website:about' %}">About</a></li>
            {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
        <div id="sidenav" class="sidenav">
            <a class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Workspaces</a>
            <a href="#">Settings</a>
        </div>
    {% endif %}
    <main>
        {% if messages %}
            <div>
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block body %}{% endblock %}
    </main>
</body>



{% for book in books %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ book.pk }}">
    {{ book }}
</button>
<!-- Modal -->
<div class="modal fade modal-dialog modal-dialog-scrollable p-y-0   " id="modal-{{ book.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-{{ book.pk }}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-{{ book.pk }}-label">{{ book }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sed luctus magna in justo dignissim dignissim. Nulla eu libero feugiat, scelerisque ante ut, accumsan mi. Nullam eget augue pretium, ultrices ligula nec, scelerisque diam. Fusce dapibus porta sapien, molestie hendrerit nisi venenatis et. Nulla mollis pulvinar interdum. Quisque quis tristique enim. Sed non ullamcorper neque, nec cursus quam. Sed condimentum egestas mi. Ut mollis maximus sem, ut tempus diam malesuada id. Donec nunc dolor, dignissim vitae mi eu, blandit faucibus sem. Mauris lorem nisi, rhoncus sed lectus ut, condimentum iaculis elit. In nec tincidunt tellus. Nulla at fringilla orci.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div><br>
{% endfor %}


{% block css %}
    <link href="{% static 'css/work_space/styles.css' %}" rel="stylesheet">
{% endblock %}


<div id="test">{{ space }} <sup><span class="badge bg-secondary small" id="rename-badge"><i class="fa-solid fa-pencil"></i></span></sup></div>




<ul>
    {% for paper in papers %}
    <li>
        <a href="{% url 'paper_work:paper_space' paper.pk %}">{{ paper }}</a>
    </li>
    {% endfor %}
</ul><br><br>



<ul>
    {% for book in books %}
    <li>
       <a href="{% url 'bookshelf:source_space' book.pk %}">{{ book }}</a>
    </li>
    {% endfor %}
</ul><br><br><br><br>




<div class="form-check d-flex justify-content-center mb-5">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
    <label class="form-check-label" for="form2Example3g">
        I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
    </label>
</div>


<div class="form-outline mb-4 input-group">
    <div class="form-outline mb-4 input-group" id="name-area">
        <input type="text" class="form-control form-control-lg">
        <input type="text" class="form-control form-control-lg">
    </div>
    <label class="form-label" for="name_area">First and last name</label>
</div>





<form onsubmit="return check_password('register_form');" action="{% url 'user_management:register' %}" id="register_form2" method="post">
    {% csrf_token %}
    {{ register_form }}
    <input class="btn btn-primary" type="submit" value="Register">
</form>

Already have an account? <a href="{% url 'user_management:login' %}">Log In here.</a><br><br><br>

<h1>New</h1>



<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="input-group">
    <span class="input-group-text">First and last name</span>
    <input type="text" aria-label="First name" class="form-control">
    <input type="text" aria-label="Last name" class="form-control">
</div>
<div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Password</label>
    </div>
    <div class="col-auto">
      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Must be 8-20 characters long.
      </span>
    </div>
</div><br><br><br>


<h3>Password resetting forms</h3><br><br>

<h2>Reset password</h2><br>

<div id="form_container">
    <form action="{% url 'user_management:forget_password' %}" id="first_form" method="post">
        {% csrf_token %}
        {{ first_form }}
        <br>
        <input class="btn btn-primary" type="submit" value="Reset Password">
    </form>
    <button onclick="return change_forms()" id="change_forms_button">I forgot my username</button>
    <form action="{% url 'user_management:forget_password' %}" id="second_form" method="post" style="display: none;">
        {% csrf_token %}
        {{ second_form }}
        <br>
        <input class="btn btn-primary" type="submit" value="Reset Password">
    </form>
</div>  





<h3>Login forms</h3><br><br>
<form action="{% url 'user_management:login' %}" method="post">
    {% csrf_token %}
    {{ login_form }}
    <input type="hidden" name="redirect_url" value="{{ request.GET.next }}">
    <input class="btn btn-primary" type="submit" value="Login">
</form><br>


Don't have an account? <a href="{% url 'user_management:register' %}">Register here.</a><br><br>

<button class="btn btn-primary" type="button">
    <a style="color: white;" href="{% url 'user_management:forget_password' %}">Forgot password</a>
</button><br>


<div class="form-outline mb-4">
    <input type="text" id="username-field" name="username" class="form-control form-control-lg" autocomplete="off" required/>
    <label class="form-label" for="username-field">Username</label>
</div>
<div class="form-outline mb-4">
    <input type="password" id="password-field" name="password" class="form-control form-control-lg" required/>
    <label class="form-label" for="password-field">Password</label>
</div>




<form onsubmit="return check_password('register_form');" action="{% url 'user_management:register' %}" id="register_form" method="post">
    {% csrf_token %}
    <div class="form-outline mb-4">
        <input type="text" id="username-field" name="username" class="form-control form-control-lg" autocomplete="off" required/>
        <label class="form-label" for="username-field">Username</label>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="first-name-field" name="first_name" class="form-control form-control-lg" required/>
        <label class="form-label" for="first-name-field">First Name</label>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="last-name-field" name="last_name" class="form-control form-control-lg" required/>
        <label class="form-label" for="last-name-field">Last Name</label>
    </div>
    <div class="form-outline mb-4">
        <input type="email" id="email-field" name="email" class="form-control form-control-lg" required/>
        <label class="form-label" for="email-field">Email</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="password-field" name="password" class="form-control form-control-lg" required/>
        <label class="form-label" for="password-field">Password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="confirmation-field" name="confirmation" class="form-control form-control-lg" required/>
        <label class="form-label" for="confirmation-field">Repeat password</label>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" value="Register" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
    </div>
    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'user_management:login' %}" class="fw-bold text-body"><u>Login here</u></a></p>
</form>



<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Reset password</h2>
                            <form action="{% url 'user_management:forget_password' %}" id="first_form" method="post">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <input type="text" id="username-field" name="username" class="form-control form-control-lg" autocomplete="off" required/>
                                    <label class="form-label" for="username-field">Username</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="email" id="email-field" name="email" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="email-field">Email</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Reset password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                </div>
                                <p class="text-center text-muted mt-5 mb-0">Forgot your username? <a onclick="return change_forms()" class="fw-bold text-body"><u>Click here</u></a></p>
                            </form>
                            <form action="{% url 'user_management:forget_password' %}" id="second_form" method="post" style="display: none;">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <input type="text" id="first-name-field" name="first_name" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="first-name-field">First Name</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="last-name-field" name="last_name" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="last-name-field">Last Name</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="email" id="email-field" name="email" class="form-control form-control-lg" required/>
                                    <label class="form-label" for="email-field">Email</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Reset password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<form action="{% url 'user_management:reset_password' reset_code %}" id="reset_password_form" method="post">
    {% csrf_token %}
    <div class="form-outline mb-4">
        <input type="password" id="password-field" name="password" class="form-control form-control-lg" required/>
        <label class="form-label" for="password-field">New password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="confirmation-field" name="confirmation" class="form-control form-control-lg" required/>
        <label class="form-label" for="confirmation-field">Repeat password</label>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" value="Update password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
    </div>
</form>


<h2>Reset password</h2>
<form onsubmit="return check_password('reset_password_form');" action="{% url 'user_management:reset_password' reset_code %}"  id="reset_password_form2" method="post">
    {% csrf_token %} 
    {{ form }}
    <button id="reset_password_button">Update password</button>
</form>


<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">


<br><br><br><br>
<form onsubmit="return check_password('reset_password_form');" id="reset_password_form" action="{% url 'user_management:change_password' %}" method="post">
    {% csrf_token %} 
    {{ form }}
    <button id="change_password_button">Change password</button>
</form>


<div class="chapter-author-filed">
    <div class="chapter_author" id="chapter_author_fields_${author_number}">
        <label>Author Last Name: <input id="chapter_author_last_name_${author_number}" name="chapter_last_name_${author_number}" type="text" required></label>
        <label>Author First Name: <input id="chapter_author_first_name_${author_number}" name="chapter_first_name_${author_number}" type="text"></label>
        <label>Author Second Name: <input id="chapter_author_second_name_${author_number}" name="chapter_second_name_${author_number}" type="text"></label>
        <button id="add_chapter_author_button_${author_number}" type="button">Add Chapter Author(s)</button>
        <button id="delete_chapter_author_button_${author_number}" type="button">Delete Author</button>
    </div>`
</div>



<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="book_form" class="source_form">
    <div class="author-div"></div>
    {% csrf_token %} 
    {{ book_form.as_p }}
    <button value="book" name="book" type="submit">Add Book</button>
</form>

<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="article_form" class="source_form">
    <div class="author-div"></div>
    {% csrf_token %} 
    {{ article_form.as_p }}
    <button value="article" name="article" type="submit">Add Article</button>
</form>

<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="chapter_form" class="source_form">
    <div id="chapter-author-div"></div>
    {% csrf_token %}
    {{ chapter_form.as_p }}
    <div class="author-div"></div>
    <button value="chapter" name="chapter" type="submit">Add Chapter</button>
</form>

<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="webpage_form" class="source_form">
    <div class="author-div"></div>
    {% csrf_token %} 
    {{ webpage_form.as_p }}
    <button value="webpage" name="webpage" type="submit">Add Webpage</button>
</form>



<button class="show_form_button" id="book" type="button">book</button>
<button class="show_form_button" id="article" type="button">article</button>
<button class="show_form_button" id="chapter" type="button">chapter</button>
<button class="show_form_button" id="webpage" type="button">webpage</button><br><br><br>



<label>Author Last Name: <input id="{{ chapter }}author-last_name-{{ author_number }}" name="{{ chapter }}last_name_{{ author_number }}" type="text" required></label>
<label>Author First Name: <input id="{{ chapter }}author-first-name-{{ author_number }}" name="{{ chapter }}first_name_{{ author_number }}" type="text"></label>
<label>Author Second Name: <input id="{{ chapter }}author-second-name-{{ author_number }}" name="{{ chapter }}second_name_{{ author_number }}" type="text"></label>


<div class="form-outline mb-4 row">
    <div class="col-md">
        <div class="form-floating">
            <input id="{{ chapter }}author-last_name-{{ author_number }}" name="{{ chapter }}last_name_{{ author_number }}" type="text" required>
            <label class="form-label" for="{{ chapter }}author-last_name-{{ author_number }}">Last Name</label>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide authors last name.</div>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input id="{{ chapter }}author-first-name-{{ author_number }}" name="{{ chapter }}first_name_{{ author_number }}" type="text">
            <label class="form-label" for="{{ chapter }}author-first-name-{{ author_number }}">First Name</label>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide authors first name.</div>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            <input id="{{ chapter }}author-second-name-{{ author_number }}" name="{{ chapter }}second_name_{{ author_number }}" type="text">
            <label class="form-label" for="{{ chapter }}author-second-name-{{ author_number }}">Second Name</label>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide authors second name.</div>
        </div>
    </div>
</div>

<button value="book" name="book" type="submit">Add Book</button>


<div class="form-outline mb-4 row">
    <div class="col-md">
        <div class="form-floating">
            {{ book_form.title }}
            <label class="form-label" for="title-field">Title</label>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide books title.</div>
        </div>
    </div>
    <div class="col-md">
        <div class="form-floating">
            {{ book_form.publishing_house }}
            <label class="form-label" for="publishing-house-field">Publishing House</label>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide books publishing house.</div>
        </div>
    </div>
</div>
<div class="form-outline mb-4 form-floating">
    {{ book_form.year }}
    <label class="form-label" for="book-year-field">Year</label>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please provide publishing year.</div>
</div>


<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="book-form1" class="source-form needs-validation" novalidate>
    <div class="author-div1"></div>
    {% csrf_token %} 
    {{ book_form.as_p }}
    <button value="book" name="book" type="submit">Add Book</button>
</form>

<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="article-form1" class="source-form">
    <div class="author-div1"></div>
    {% csrf_token %} 
    {{ article_form.as_p }}
    <button value="article" name="article" type="submit">Add Article</button>
</form>

<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="chapter-form1" class="source-form">
    <div id="chapter-author-div"></div>
    {% csrf_token %}
    {{ chapter_form.as_p }}
    <div class="author-div1"></div>
    <button value="chapter" name="chapter" type="submit">Add Chapter</button>
</form>

<form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="webpage-form1" class="source-form">
    <div class="author-div1"></div>
    {% csrf_token %} 
    {{ webpage_form.as_p }}
    <button value="webpage" name="webpage" type="submit">Add Webpage</button>
</form>


<div class="col-md-12 col-md-9 col-lg-7 col-xl-6"></div>


<form action="{% url 'bookshelf:alter_source_reference' source.pk  %}" id="alter_reference_form1" method="post">
    {% csrf_token %} 
    {{ alter_reference_form }}
    <button>Alter Source Reference</button>
</form>


<button type="button" class="btn btn-dark" id="upload-file-button-{{ source.pk }}" style="display: none;">Upload new file <i class="fa-solid fa-upload"></i></button>


<div>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                    <div class="card form-card" style="border-radius: 15px;">
                        <div class="card-body p-5 form-body">
                            <h2 class="text-uppercase text-center mb-5" id="form-header">Edit Reference</h2>
                            <form action="{% url 'bookshelf:alter_source_reference' source.pk %}" method="post" id="alter-reference-form" class="needs-validation" novalidate>
                                {% csrf_token %}
                                <div class="form-outline mb-4 form-floating">         
                                    {{ alter_reference_form.apa }}
                                    <label class="form-label" for="apa-field">APA</label>
                                    <div class="invalid-feedback">Please provide APA Reference.</div>
                                </div>
                                <div class="form-outline mb-4 form-floating">         
                                    {{ alter_reference_form.mla }}
                                    <label class="form-label" for="mla-field">MLA</label>
                                    <div class="invalid-feedback">Please provide MLA Reference.</div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Edit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<form enctype="multipart/form-data" action="{% url 'file_handling:upload_source_file' source.pk %}" method="post">
    {% csrf_token %} 
    {{ upload_file_form }}
    <button type="submit">Upload File</button>
</form>



<h4>Add link</h4>
<form action="{% url 'bookshelf:add_link' source.pk %}" id="link_form" method="post">
    {% csrf_token %} 
    {{ link_form }}
    <button>Add</button>
</form>
<br>
{% if source.link %}
    <div id="source_link">
        <h5><a id="link_tag" href="{{ source.link }}">Link</a></h5>
    </div>
{% endif %}

<br>

<h4>Reference</h4>
<form action="{% url 'bookshelf:alter_source_reference' source.pk %}" method="post" id="alter-reference-form-{{ source.pk }}" class="needs-validation edit-form" novalidate>
    {% csrf_token %}
    <div class="form-outline mb-4 form-floating">         
        {{ alter_reference_form.apa }}
        <label class="form-label" for="apa-field">APA</label>
        <div class="invalid-feedback">Please provide APA Reference.</div>
    </div>
    <div class="form-outline mb-4 form-floating">         
        {{ alter_reference_form.mla }}
        <label class="form-label" for="mla-field">MLA</label>
        <div class="invalid-feedback">Please provide MLA Reference.</div>
    </div>
</form>

<div id="source-footer">
    <div class="left-source-buttons">
        <button onclick="show_or_hide_source_settings('{{ source.pk }}')" type="button" id="show-source-settings-button-{{ source.id }}" class="btn btn-warning">Edit<i class="fa-solid fa-gears source-modal-icon"></i></button>
        {% if source.has_file %}
            <a href="#" id="open-source-file-button-{{ source.pk }}">
                <button type="button" class="btn btn-dark">Open File <i class="fa-solid fa-file"></i></button>
            </a>
        {% endif %}
        {% if source.link %}
            <a href="{{ source.link }}" id="source-link-button-{{ source.pk }}">
                <button type="button" class="btn btn-dark">Link<i class="fa-solid fa-link source-modal-icon"></i></button>
            </a>
        {% endif %}
    </div>
    <div class="right-source-buttons">
        <button type="button" class="btn btn-secondary" style="display: none;">Next / previous source</button>
        <button onclick="show_or_hide_source_settings('{{ source.pk }}')" type="button" class="btn btn-secondary" id="close-source-settings-button-{{ source.pk }}" style="display: none;">Back</button>
        <button type="button" class="btn btn-secondary" id="close-source-button-{{ source.pk }}" data-bs-dismiss="modal">Close</button>
    </div>
</div>


        <button type="button" class="btn btn-secondary" id="close-source-button-{{ source.pk }}" data-bs-dismiss="modal">Close</button>

onclick="load_and_show_source_space('{{ source.id }}')"


<h4>Change password</h4>
<form action="{% url 'user_management:change_password' %}" class="needs-validation" id="change-password-form" method="post" novalidate>
    {% csrf_token %}
    <div class="form-outline mb-4 form-floating">
        {{ change_password_form.old_password }}
        <label class="form-label" for="old-password-field">Old Password</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a password.</div>
    </div>
    <div class="form-outline mb-4 form-floating">
        {{ change_password_form.new_password }}
        <label class="form-label" for="new-password-field">New Password</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a new password.</div>
    </div>
    <div class="form-outline mb-4 form-floating">
        {{ change_password_form.confirmation }}
        <label class="form-label" for="confirmation-field">Repeat New Password</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please repeat your new password.</div>
    </div>
</form>


<form action="{% url 'user_management:account_settings' %}" class="needs-validation" id="account-settings-form" method="post" novalidate>
    {% csrf_token %}
    <div class="form-outline mb-4 form-floating">
        {{ settings_form.username }}
        <label class="form-label" for="username-field">Username</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a username.</div>
    </div>
    <div class="form-outline mb-4 form-floating">
        {{ settings_form.last_name }}
        <label class="form-label" for="last-name-field">Last Name</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a last name<div>
    </div>
    <div class="form-outline mb-4 form-floating">
        {{ settings_form.first_name }}
        <label class="form-label" for="first-name-field">First Name</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a first name.</div>
    </div>
    <div class="form-outline mb-4 form-floating">
        {{ settings_form.email }}
        <label class="form-label" for="email-field">Email</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide an email.</div>
    </div>
    <div class="form-outline mb-4 form-floating">
        {{ settings_form.password }}
        <label class="form-label" for="password-field">Password</label>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a password.</div>
    </div>
</form>

<div class="form-outline mb-4 form-floating">
    {{ settings_form.last_name }}
    <label class="form-label" for="last-name-field">Last Name</label>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please provide a last name</div>
</div>
<div class="form-outline mb-4 form-floating">
    {{ settings_form.first_name }}
    <label class="form-label" for="first-name-field">First Name</label>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please provide a first name.</div>
</div>


<div class="col-md">
    <div class="d-flex justify-content-center">
        <input value="Add Author(s)" id="{{ chapter }}add-author-button-{{ author_number }}" class="btn btn-primary btn-block btn-md gradient-custom-4 text-body mx-3" type="button"></input>
        {% if author_number != 0 %}
            <input value="Delete Author" id="{{ chapter }}delete-author-button-{{ author_number }}" class="btn btn-danger btn-block btn-md gradient-custom-4 text-body mx-3" type="button"></input>
        {% endif %}
    </div>
</div>



                  
<div class="form-outline mb-4 row">
    {% if author_number != 0 %}
        <div class="col-md author-buttons">
            <input value="Add Author" id="{{ chapter }}add-author-button-{{ author_number }}" class="btn btn-primary btn-block btn-md gradient-custom-4 text-body mx-3" type="button"></input>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" id="{{ chapter }}author-second-name-{{ author_number }}" name="{{ chapter }}second_name_{{ author_number }}" type="text" placeholder="Second Name" autocomplete="off">
                <label class="form-label" for="{{ chapter }}author-second-name-{{ author_number }}">Middle Name</label>
            </div>
        </div>
        <div class="col-md author-buttons">
            <input value="Delete Author" id="{{ chapter }}delete-author-button-{{ author_number }}" class="btn btn-danger btn-block btn-md gradient-custom-4 text-body mx-3" type="button"></input>
        </div>
    {% else %}
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" id="{{ chapter }}author-second-name-{{ author_number }}" name="{{ chapter }}second_name_{{ author_number }}" type="text" placeholder="Second Name" autocomplete="off">
                <label class="form-label" for="{{ chapter }}author-second-name-{{ author_number }}">Middle Name</label>
            </div>
        </div>
        <div class="col-md author-buttons">
            <input value="Add Author" id="{{ chapter }}add-author-button-{{ author_number }}" class="btn btn-primary btn-block btn-md gradient-custom-4 text-body mx-3" type="button"></input>
        </div>
    {% endif %}




<a href="{% url 'user_management:logout' %}">Logout</a>


<button class="btn btn-primary" type="button">
    <a style="text-decoration: none; color: white;" href="{% url 'user_management:logout' %}">Logout</a>
</button>


<!-- Messages -->
{% if messages %}
    <div>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<ul>
    {% for link in links %}
        <li>
            {{ link }}
        </li>
    {% endfor %}
</ul>

<form action="{% url 'paper_work:rename_paper' paper.pk %}" method="post" id="rename_paper_form">
    {% csrf_token %} 
    {{ rename_paper_form }}
    <button type="submit">Rename Paper</button>
</form>


<form action="{% url 'paper_work:set_citation_style' paper.pk %}" method="post">
    {% csrf_token %} 
    {{ citation_form }}
    <button type="submit">Set citation style</button>
</form><br><br>


<h3>Papers</h3>
{% for paper in space_papers %}
    <!-- Button trigger modal -->
    <button onclick="load_and_show_paper_space('{{ paper.pk }}')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paper-space-{{ paper.pk }}">
        {{ paper }}
    </button>
    <!-- Modal -->
    <div class="modal fade" id="paper-space-{{ paper.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paper-space-label-{{ paper.pk }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="paper-space-label-{{ paper.pk }}">{{ paper }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="paper-space-div-{{ paper.pk }}"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div><br><br>
{% endfor %}


<div id="re">
    <a id="re-main-link" href="{% url 'website:index' %}">
        <i class="fa-solid fa-graduation-cap"></i>
        research engine
    </a>
</div>


<div class="list-group">
    <a href="{% url 'work_space:space_view' space.pk %}" class="list-group-item list-group-item-action list-group-item-warning work-space-list">{{ space }}</a>
</div>

<a class="settings-icon settings-row-2 settings-link" id="archived-work-spaces" href="{% url 'website:about' %}">
    <div class="settings-icon settings-row-2">
        <i class="fa-solid fa-folder-open fa-7x"></i><br><br><h5>Archived Workspaces</h5>
    </div>
</a>


{% for space in archived_spaces %}
    {{ space }}
{% endfor %}

{% for paper in archived_papers %}
    {{ paper }}
{% endfor %}

<div class="modal fade" id="new-source" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="new-source-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="new-source-label">Add new source</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="new-source-div">
                <select class="form-select" id="source-type-selector">
                    <option value="" selected>Choose type of source</option>
                    <option value="book-form">Book</option>
                    <option value="article-form">Article</option>
                    <option value="chapter-form">Chapter in a book</option>
                    <option value="webpage-form">Webpage</option>
                </select><br>
                <div class="source-form-area" id="book-form">
                    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                        <div class="container h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                                    <div class="card form-card" style="border-radius: 15px;">
                                        <div class="card-body p-5 form-body">
                                            <h2 class="text-uppercase text-center mb-5" id="form-header">New Book</h2>
                                            <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                {% csrf_token %}
                                                {{ book_form.source_type }}
                                                {{ book_form.number_of_authors }}
                                                <div class="author-div"></div><br>
                                                <div class="form-outline mb-4 form-floating">         
                                                    {{ book_form.title }}
                                                    <label class="form-label" for="title-field">Title</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide books title.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ book_form.publishing_house }}
                                                    <label class="form-label" for="publishing-house-field">Publishing House</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide books publishing house.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ book_form.year }}
                                                    <label class="form-label" for="book-year-field">Year</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide publishing year.</div>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <input type="submit" value="Add book" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="source-form-area" id="article-form">
                    <div class="mask d-flex align-items-center h-100 gradient-custom-3 form-card">
                        <div class="container h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body p-5 form-body">
                                            <h2 class="text-uppercase text-center mb-5" id="form-header">New Article</h2>
                                            <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                {% csrf_token %}
                                                {{ article_form.source_type }}
                                                {{ article_form.number_of_authors }}
                                                <div class="author-div"></div><br>
                                                <div class="form-outline mb-4 form-floating">         
                                                    {{ article_form.article_title }}
                                                    <label class="form-label" for="article-title-field">Article Title</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide article title.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ article_form.journal_title }}
                                                    <label class="form-label" for="journal-title-field">Journal Title</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide journal title.</div>
                                                </div>
                                                <div class="form-outline mb-4 row">
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            {{ article_form.volume }}
                                                            <label class="form-label" for="volume-field">Volume</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide journal volume.</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            {{ article_form.issue }}
                                                            <label class="form-label" for="issue-field">Issue</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide journals issue.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ article_form.pages }}
                                                    <label class="form-label" for="article-pages-field">Article pages</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide article pages.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ article_form.link_to_journal }}
                                                    <label class="form-label" for="link-to-journal-field">Link to Journal</label>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <input type="submit" value="Add article" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="source-form-area" id="chapter-form">
                    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                        <div class="container h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                                    <div class="card form-card" style="border-radius: 15px;">
                                        <div class="card-body p-5 form-body">
                                            <h2 class="text-uppercase text-center mb-5" id="form-header">New Chapter</h2>
                                            <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                {% csrf_token %}
                                                {{ chapter_form.source_type }}
                                                {{ chapter_form.number_of_authors }}
                                                <div class="author-div"></div><br>
                                                <div class="form-outline mb-4 form-floating">         
                                                    {{ chapter_form.chapter_title }}
                                                    <label class="form-label" for="chapter-title-field">Chapter Title</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide chapter title.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ chapter_form.book_title }}
                                                    <label class="form-label" for="book-title-field">Book title</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide book title.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ chapter_form.publishing_house }}
                                                    <label class="form-label" for="chapter-publishing-house-field">Publishing House</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide publishing house.</div>
                                                </div>
                                                <div class="form-outline mb-4 row">
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            {{ chapter_form.edition }}
                                                            <label class="form-label" for="edition-field">Edition</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide book edition.</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="form-floating">
                                                            {{ chapter_form.pages }}
                                                            <label class="form-label" for="chapter-pages-field">Pages</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide chapters pages.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ chapter_form.year }}
                                                    <label class="form-label" for="chapter-year-field">Year</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide publishing year.</div>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <input type="submit" value="Add Chapter" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="source-form-area" id="webpage-form">
                    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                        <div class="container h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                                    <div class="card form-card" style="border-radius: 15px;">
                                        <div class="card-body p-5 form-body">
                                            <h2 class="text-uppercase text-center mb-5" id="form-header">New Webpage</h2>
                                            <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                {% csrf_token %}
                                                {{ webpage_form.source_type }}
                                                {{ webpage_form.number_of_authors }}
                                                <div class="author-div"></div><br>
                                                <div class="form-outline mb-4 form-floating">         
                                                    {{ webpage_form.page_title }}
                                                    <label class="form-label" for="page-title-field">Page Title</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide page title.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ webpage_form.website_title }}
                                                    <label class="form-label" for="website-title-field">Website title</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide website title.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ webpage_form.page_url }}
                                                    <label class="form-label" for="page-url-field">Page URL</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide page url.</div>
                                                </div>
                                                <div class="form-outline mb-4 form-floating">
                                                    {{ webpage_form.date }}
                                                    <label class="form-label" for="date-field">Date</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide date.</div>
                                                </div>
                                                <div class="d-flex justify-content-center">
                                                    <input type="submit" value="Add book" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>


            <div class="form-floating">
                {{ shared_sources_form.option }}
            </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paper-settings">
    Settings
</button>
<!-- Modal -->
<div class="modal fade source-modal" id="paper-settings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paper-settings-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="paper-settings-label">Settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                                <div class="card form-card" style="border-radius: 15px;">
                                    <div class="card-body p-5 form-body">
                                        <h2 class="text-uppercase text-center mb-4" id="form-header">Edit</h2>
                                        <div id="edit-paper-error-message" style="display: none;">
                                            <ul class="messages">
                                                <li class="error">Error</li>
                                            </ul>
                                        </div>
                                        <h4>Rename paper</h4>
                                        <form action="{% url 'paper_work:rename_paper' paper.pk %}" class="needs-validation"  method="post" novalidate>
                                            {% csrf_token %}
                                            <div class="form-outline mb-4 form-floating">
                                                {{ rename_paper_form.title }}
                                                <label class="form-label" for="title-field">Title</label>
                                                <div class="invalid-feedback">Please provide paper title.</div>
                                            </div>
                                        </form>
                                        <h4>Set citation style</h4>
                                        <form action="{% url 'paper_work:set_citation_style' paper.pk %}" class="needs-validation" method="post" novalidate>
                                            {% csrf_token %}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="APA" checked>
                                                <label class="form-check-label" for="inlineRadio1">APA</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="MLA">
                                                <label class="form-check-label" for="inlineRadio2">MLA</label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <input type="button" value="Archive paper" class="btn btn-danger btn-block btn-lg gradient-custom-4 text-body"></input>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="button" value="Save Changes" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" formnovalidate></input>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
