{% extends "layout.html" %}
{% load static %}

{% block body %}

<h4>Workspaces</h4>
    <ul>
        {% for space in work_spaces %}
        <li>
            <a href="{% url 'work_space:space_view' space.pk %}">{{ space }}</a>
        </li>
        {% endfor %}
    </ul>

    <h3>Receive shared sources</h3>
    <form action="{% url 'work_space:receive_shared_sources' %}" method="post">
        {% csrf_token %} 
        {{ shared_sources_form }}
        <button type="submit">Receive Shared Sources</button>
    </form>



{% endblock %}