{% extends "layout.html" %}
{% load static %}

{% block body %}

    <h3>{{ paper.title }}</h3>

    <form enctype="multipart/form-data" action="{% url 'file_handling:upload_file' paper.pk %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <button id="change_password_button" type="submit">Save New Version</button>
    </form>

    <ul>
        {% for version in paper_versions %}
            <li>
                <a href="{% url 'file_handling:display_file' version.pk %}">{{ version.file }}</a>
            </li>
        {% endfor %}
    </ul>

    <br>
    <ul>
        {% for link in links %}
            <li>
                {{ link }}
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'paper_work:rename_paper' paper.pk %}" method="post">
        {% csrf_token %} 
        {{ rename_form }}
        <button type="submit">Rename Paper</button>
    </form>


    <h3>Choose sources</h3>

    <form action="{% url 'paper_work:add_sources' paper.pk %}" method="post">
        {% csrf_token %} 
        {{ sources_form }}
        <button type="submit">Choose</button>
    </form>


    <h3>Endnotes:</h3>

    <ul>
        {% for endnote in endnotes %}
        <li>{{ endnote.apa }}</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}
