{% extends "layout.html" %}
{% load static %}

{% block body %}

    <h3>{{ paper.title }}</h3>

    <form enctype="multipart/form-data" action="{% url 'paper_work:save_paper' paper.pk %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <button id="change_password_button" type="submit">Save New Version</button>
    </form>

    <ul>
        {% for version in paper_versions %}
            <li>
                <a href="{% url 'paper_work:test' version.pk %}">{{ version.file }}</a>
            </li>
        {% endfor %}
    </ul>

    <br>
    <ul>
        {% for link in links %}
            <li>
                {{ link }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}