{% extends "layout.html" %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block header %}
   About
{% endblock %}

{% block body %}

    <div class="images-row">
        <img id="senches-photo" src="/static/images/about/my_photo.jpg" alt="Senches">
        <img class="plus-sign" src="/static/images/about/addition.png" alt="Plus">
        <img id="cs50w-logo" src="/static/images/about/CS50W.png" alt="CS50W">
    </div>
    <br>
    <div class="multiplication-div">
        <img id="multiplication-sign-first" src="/static/images/about/multiplication.png" alt="Multiplication">
    </div>
    <br>
    <div class="images-row">
        <img id="django-logo" src="/static/images/about/django_logo.png" alt="Django">
        <img class="plus-sign" src="/static/images/about/addition.png" alt="Plus">
        <img id="js-logo" src="/static/images/about/js_logo.png" alt="JavaScript">
    </div>


    




    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>

    <img class="plus-sign" src="/static/images/about/addition.png" alt="Plus">
    <img id="js-logo" src="/static/images/about/js_logo.png" alt="JavaScript">



    <img class="plus-sign" src="/static/images/about/addition.png" alt="Plus">

    <img class="multiplication-sign" src="/static/images/about/multiplication.png" alt="Multiplication">


    <br><br><br>

    

    <br><br><br>

    

    <br><br><br>

    <img class="plus-sign" src="/static/images/about/addition.png" alt="Plus">

    <br><br><br>

    <img class="multiplication-sign" src="/static/images/about/multiplication.png" alt="Multiplication">

    <br><br><br>

    <img id="equal-sign" src="/static/images/about/equal.png" alt="Equal">

{% endblock %}


