{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/user_management.js' %}"></script>
{% endblock %}

{% block headless %}
    <section class="vh-100 bg-image" id="form-section">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card form-card" style="border-radius: 15px;">
                            <div class="card-body p-5 form-body">
                                <h2 class="text-uppercase text-center mb-4" id="form-header">Settings</h2>
                                <!-- Messages -->
                                {% if messages %}
                                    <div>
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div id="settings-menu">
                                    <div>
                                        <a class="settings-icon settings-row-1 settings-link" href="{% url 'user_management:edit_account' %}">
                                            <div class="settings-icon settings-row-1">
                                                <i class="fa-solid fa-user-pen fa-7x"></i><br><br><h5>Edit main info</h5>
                                            </div>
                                        </a>
                                        <a class="settings-icon settings-row-1 settings-link" href="{% url 'user_management:change_password' %}">
                                            <div class="settings-icon settings-row-1">
                                                <i class="fa-solid fa-lock fa-7x"></i><br><br><h5>Change password</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="settings-icon settings-row-2 settings-link" href="{% url 'website:about' %}">
                                            <div class="settings-icon settings-row-2">
                                                <i class="fa-solid fa-folder-open fa-7x"></i><br><br><h5>Archived Workspaces</h5>
                                            </div>
                                        </a>
                                        <a class="settings-icon settings-row-2 settings-link" href="{% url 'website:about' %}">
                                            <div class="settings-icon settings-row-2">
                                                <i class="fa-solid fa-copy fa-7x"></i><br><br><h5>Archived Papers</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="settings-icon settings-row-3 settings-link" href="{% url 'website:about' %}">
                                            <div class="settings-icon settings-row-3">
                                                <i class="fa-solid fa-circle-info fa-7x"></i><br><br><h5>About</h5>
                                            </div>
                                        </a>
                                        <a class="settings-icon settings-row-3 settings-link" href="{% url 'user_management:logout' %}">
                                            <div class="settings-icon settings-row-3">
                                                <i class="fa-solid fa-right-from-bracket fa-7x"></i><br><br><h5>Logout</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
