{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/user_management.js' %}"></script>
{% endblock %}

{% block headless %}
    <section class="vh-100 bg-image" id="form-section">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card form-card" style="border-radius: 15px;">
                            <div class="card-body p-5 form-body">
                                <h2 class="text-uppercase text-center mb-4" id="form-header">Settings</h2>
                                <!-- Messages -->
                                {% if messages %}
                                    <div>
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <div id="settings-menu">
                                    <div class="mb-5">
                                        <a class="settings-icon settings-row-1 settings-link" href="{% url 'user_management:edit_account' %}">
                                            <div class="settings-icon">
                                                <i class="fa-solid fa-user-pen fa-7x"></i><br><br><h5>Edit main info</h5>
                                            </div>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="settings-icon settings-row-1 settings-link" href="{% url 'user_management:change_password' %}">
                                            <div class="settings-icon">
                                                <i class="fa-solid fa-lock fa-7x"></i><br><br><h5>Change password</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mb-5">
                                        <a class="settings-icon settings-row-2 settings-link" id="archived-work-spaces" data-bs-toggle="modal" data-bs-target="#archived-work-spaces-modal" href="#archived-work-spaces-modal">
                                            <div class="settings-icon">
                                                <i class="fa-solid fa-folder-open fa-7x"></i><br><br><h5>Archived Workspaces</h5>
                                            </div>
                                        </a>
                                        <div class="modal fade" id="archived-work-spaces-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="archived-work-spaces-modal-label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="archived-work-spaces-modal-label">Archived Workspaces</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="accordion" id="archived-work-spaces-accordion">
                                                            {% for space in archived_spaces %}
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header">
                                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#archived-space" aria-expanded="true" aria-controls="archived-space">
                                                                            {{ space }}
                                                                        </button>
                                                                    </h2>
                                                                    <div id="archived-space" class="accordion-collapse collapse" data-bs-parent="#archived-work-spaces-accordion">
                                                                        <div class="accordion-body">
                                                                            # TODO!!!!
                                                                            <a href="{% url 'work_space:archive_space' space.pk %}">
                                                                                Unarchive {{ space }}
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% empty %}
                                                                <strong>You don't have any archived workspaces!</strong>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="settings-icon settings-row-2 settings-link" data-bs-toggle="modal" data-bs-target="#archived-papers-modal" href="#archived-papers-modal">
                                            <div class="settings-icon">
                                                <i class="fa-solid fa-copy fa-7x"></i><br><br><h5>Archived Papers</h5>
                                            </div>
                                        </a>
                                        <div class="modal fade" id="archived-papers-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="archived-papers-modal-label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="archived-papers-modal-label">Archived Papers</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="accordion" id="archived-papers-accordion">
                                                            {% for paper in archived_papers %}
                                                                <div class="accordion-item">
                                                                    <h2 class="accordion-header">
                                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#archived-paper" aria-expanded="true" aria-controls="archived-paper">
                                                                            {{ paper }}
                                                                        </button>
                                                                    </h2>
                                                                    <div id="archived-paper" class="accordion-collapse collapse" data-bs-parent="#archived-papers-accordion">
                                                                        <div class="accordion-body">
                                                                            # TODO!!!!
                                                                            <a href="{% url 'paper_work:archive_paper' paper.pk %}">
                                                                                Unarchive {{ paper }}
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% empty %}
                                                                <strong>You don't have any archived papers!</strong>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="settings-icon settings-row-3 settings-link" href="{% url 'website:about' %}">
                                            <div class="settings-icon">
                                                <i class="fa-solid fa-circle-info fa-7x"></i><br><br><h5>About</h5>
                                            </div>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="settings-icon settings-row-3 settings-link" id="logout-link" href="{% url 'user_management:logout' %}">
                                            <div class="settings-icon">
                                                <i class="fa-solid fa-right-from-bracket fa-7x"></i><br><br><h5>Logout</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
