{% extends "layout.html" %}
{% load static %}

{% block headless %}
    <div class="author-field">
        <div class="{{ chapter }}author" id="1{{ chapter }}author-field-{{ author_number }}">
            <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                <div class="card form-card" style="border-radius: 15px;">
                    <div class="card-body p-5 form-body {{ chapter }}author" id="{{ chapter }}author-field-{{ author_number }}">
                        {% if author_number == 0 %}
                            {% if chapter %}
                                <h5>Chapter author</h5>
                            {% else %}
                                <h5>Author</h5>
                            {% endif %}
                        {% else %}
                            {% if chapter %}
                                <h5 class="author-header">Chapter author {{ author_number| add:"+1" }} <span class="badge bg-danger delete-author-button pointy-cursor h5 align-middle" id="{{ chapter }}delete-author-button-{{ author_number }}" style="font-size: .6em;"><i class="fa-solid fa-trash"></i></span></h5>
                            {% else %}
                                <h5 class="author-header">Author {{ author_number| add:"+1" }} <span class="badge bg-danger delete-author-button pointy-cursor h5 align-middle" id="{{ chapter }}delete-author-button-{{ author_number }}" style="font-size: .6em;"><i class="fa-solid fa-trash"></i></span></h5>
                            {% endif %}
                        {% endif %}
                        <div class="form-outline mb-4 form-floating">
                            <input class="form-control" id="{{ chapter }}author-last_name-{{ author_number }}" name="{{ chapter }}last_name_{{ author_number }}" type="text" placeholder="Last Name" autocomplete="off" required>
                            <label class="form-label" for="{{ chapter }}author-last_name-{{ author_number }}">Last Name</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide authors last name.</div>
                        </div>
                        <div class="form-outline mb-4 row">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input class="form-control" id="{{ chapter }}author-first-name-{{ author_number }}" name="{{ chapter }}first_name_{{ author_number }}" type="text" placeholder="First Name" autocomplete="off">
                                    <label class="form-label" for="{{ chapter }}author-first-name-{{ author_number }}">First Name</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input class="form-control" id="{{ chapter }}author-second-name-{{ author_number }}" name="{{ chapter }}second_name_{{ author_number }}" type="text" placeholder="Second Name" autocomplete="off">
                                    <label class="form-label" for="{{ chapter }}author-second-name-{{ author_number }}">Middle Name</label>
                                </div>
                            </div>
                        </div>                    
                        <input value="Add Author" id="{{ chapter }}add-author-button-{{ author_number }}" class="btn btn-secondary btn-block btn-md gradient-custom-4 text-body mx-3" type="button"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
