{% extends "layout.html" %}
{% load static %}

{% block headless %}
    <div id="index-div">
        {% if work_spaces %}
            <a data-bs-toggle="collapse" href="#my-workspaces-area" role="button" aria-expanded="false" aria-controls="my-workspaces-area">
                <h2 class="text-uppercase text-center mb-3 color-white">My Workspaces&nbsp;&nbsp;<i class="fa-solid fa-folder-open"></i></h2>
            </a>
            <div class="collapse" id="my-workspaces-area">
                {% for space in work_spaces %}
                    <a href="{% url 'work_space:space_view' space.pk %}">{{ space }}</a>
                {% endfor %}
            </div>
            <br><br>
        {% endif %}
        <a data-bs-toggle="collapse" href="#new-space-form-area" role="button" aria-expanded="false" aria-controls="new-space-form-area">
            <h2 class="text-uppercase text-center mb-3 color-white">Create New Workspace&nbsp;&nbsp;<i class="fa-solid fa-circle-plus"></i></h2>
        </a>
        <div class="collapse" id="new-space-form-area">
            <form action="{% url 'work_space:create_space' %}" class="needs-validation index-form" id="create-space-form" method="post" novalidate>
                {% csrf_token %} 
                <div class="form-outline mb-4 form-floating">         
                    {{ new_space_form.title }}
                    <label class="form-label" for="title-field">Workspace Title</label>
                    <div class="invalid-feedback">Please provide workspace title.</div>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-info btn-block btn-lg gradient-custom-4"></input>
                </div>
            </form>
        </div>
        <br><br>
        <a data-bs-toggle="collapse" href="#receive-invitation-form-area" role="button" aria-expanded="false" aria-controls="receive-invitation-form-area">
            <h2 class="text-uppercase text-center mb-3 color-white">I was invited to a workspace&nbsp;&nbsp;<i class="fa-solid fa-hand-holding-heart"></i></h2>
        </a>
        <div class="collapse" id="receive-invitation-form-area">
            <form action="{% url 'work_space:receive_invitation' %}" class="needs-validation index-form" id="receive-invitation-form" method="post" novalidate>
                {% csrf_token %} 
                <div class="form-outline mb-4 form-floating">         
                    {{ invitation_form.code }}
                    <label class="form-label" for="code-field">Invitation Code</label>
                    <div class="invalid-feedback">Please provide invitation code.</div>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Accept" class="btn btn-info btn-block btn-lg gradient-custom-4"></input>
                </div>
            </form>
        </div>
        <br><br>
        <a data-bs-toggle="collapse" href="#shared-sources-form-area" role="button" aria-expanded="false" aria-controls="shared-sources-form-area">
            <h2 class="text-uppercase text-center mb-3 color-white">Get shared research sources&nbsp;&nbsp;<i class="fa-solid fa-book"></i></h2>
        </a>
        <div class="collapse mb-5" id="shared-sources-form-area">
            <form action="{% url 'work_space:receive_shared_sources' %}" class="needs-validation index-form" id="shared-sources-form" method="post" novalidate>
                {% csrf_token %} 
                <div class="form-outline mb-4 row">
                    <div class="col-md">
                        <div class="form-floating">
                            {{ shared_sources_form.code }}
                            <label class="form-label" for="sources-code-field">Code</label>
                            <div class="invalid-feedback">Please provide code.</div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-check">
                            <input class="form-check-input" value="download" type="radio" name="option" id="download-option" checked>
                            <label class="form-check-label" for="download-option" style="color: white;">
                                Download zip-archive
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="create" type="radio" name="option" id="work-space-option">
                            <label class="form-check-label" for="work-space-option" style="color: white;">
                                Create new workspace
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Get" class="btn btn-info btn-block btn-lg gradient-custom-4"></input>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
