{% extends "layout.html" %}
{% load static %}

{% block headless %}
    <section class="vh-100 bg-image" id="form-section">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5 form-body">
                                <h2 class="text-uppercase text-center mb-5" id="form-header">{{ form_title }}</h2>
                                <!-- Messages -->
                                {% if messages %}
                                    <div>
                                        <ul class="messages">
                                            {% for message in messages %}
                                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if page_type == 'register' %}
                                    <form action="{% url 'user_management:register' %}" class="needs-validation" novalidate id="register_form" method="post">
                                        {% csrf_token %}
                                        <div class="form-outline mb-4 row">
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    {{ register_form.username }}
                                                    <label class="form-label" for="username-field">Username</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide a username.</div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    {{ register_form.email }}
                                                    <label class="form-label" for="email-field">Email</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide an email.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4 row">
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    {{ register_form.first_name }}
                                                    <label class="form-label" for="first-name-field">First Name</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide a first name.</div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    {{ register_form.last_name }}
                                                    <label class="form-label" for="last-name-field">Last Name</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide a last name.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ register_form.password }}
                                            <label class="form-label" for="password-field">Password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a password.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ register_form.confirmation }}
                                            <label class="form-label" for="confirmation-field">Repeat password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please repeat your password.</div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="Register" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                        <p class="text-center text-muted mt-4 mb-0">Have already an account? <a href="{% url 'user_management:login' %}" class="fw-bold text-body pointy-cursor"><u>Login here</u></a></p>
                                    </form>
                                {% elif page_type == 'login' %}
                                    <form action="{% url 'user_management:login' %}" class="needs-validation" novalidate id="login_form" method="post">
                                        {% csrf_token %}
                                        <div class="form-outline mb-4 form-floating">
                                            {{ login_form.username }}
                                            <label class="form-label" for="username-field">Username</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a username.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ login_form.password }}
                                            <label class="form-label" for="password-field">Password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a password.</div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="Login" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                        <input type="hidden" name="redirect_url" value="{{ request.GET.next }}">
                                        <p class="text-center text-muted mt-4 mb-0">Don't have an account? <a href="{% url 'user_management:register' %}" class="fw-bold text-body pointy-cursor"><u>Register here</u></a></p>
                                        <p class="text-center text-muted mt-4 mb-0">Forgot your password? <a href="{% url 'user_management:forget_password' %}" class="fw-bold text-body pointy-cursor"><u>Reset password</u></a></p>
                                    </form>
                                {% elif page_type == 'forget_password' %}
                                    <form action="{% url 'user_management:forget_password' %}" class="needs-validation" novalidate id="first-form" method="post">
                                        {% csrf_token %}
                                        {{ first_form.form_type }}
                                        <div class="form-outline mb-4 form-floating">
                                            {{ first_form.username }}
                                            <label class="form-label" for="username-field">Username</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a username.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ first_form.email }}
                                            <label class="form-label" for="email-field">Email</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide an email.</div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="Reset password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                        <p class="text-center text-muted mt-4 mb-0">
                                            Forgot your username?&nbsp;
                                            <a onclick="toggle_between_forget_password_forms();" class="fw-bold text-body pointy-cursor"><u>Click here</u></a>
                                        </p>
                                    </form>
                                    <form action="{% url 'user_management:forget_password' %}" id="second-form" class="needs-validation" novalidate method="post" style="display: none;">
                                        {% csrf_token %}
                                        {{ second_form.form_type }}
                                        <div class="form-outline mb-4 form-floating">
                                            {{ second_form.first_name }}
                                            <label class="form-label" for="first-name-field">First Name</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a first name.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ second_form.last_name }}
                                            <label class="form-label" for="last-name-field">Last Name</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a last name.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ second_form.email }}
                                            <label class="form-label" for="email-field">Email</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide an email.</div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="Reset password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                        <p class="text-center text-muted mt-4 mb-0">
                                            Go back&nbsp;
                                            <a onclick="toggle_between_forget_password_forms();" class="fw-bold text-body pointy-cursor"><u>Click here</u></a>
                                        </p>
                                    </form>
                                {% elif page_type == 'reset_password' %}
                                    <form action="{% url 'user_management:reset_password' reset_code %}" class="needs-validation" novalidate id="reset_password_form" method="post">
                                        {% csrf_token %}
                                        <div class="form-outline mb-4 form-floating">
                                            {{ reset_form.new_password }}
                                            <label class="form-label" for="password-field">New password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a new password.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ reset_form.confirmation }}
                                            <label class="form-label" for="confirmation-field">Repeat password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please repeat your password.</div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="Update password" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                    </form>
                                {% elif page_type == 'edit_main_info' %}
                                    <form action="{% url 'user_management:edit_account' %}" class="account-settings-form needs-validation" id="main-info-form" method="post" novalidate>
                                        {% csrf_token %}
                                        <div class="form-outline mb-4 form-floating">
                                            {{ settings_form.username }}
                                            <label class="form-label" for="username-field">Username</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a username.</div>
                                        </div>
                                        <div class="form-outline mb-4 row">
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    {{ settings_form.first_name }}
                                                    <label class="form-label" for="first-name-field">First Name</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide a first name.</div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-floating">
                                                    {{ settings_form.last_name }}
                                                    <label class="form-label" for="last-name-field">Last Name</label>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please provide a last name.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ settings_form.email }}
                                            <label class="form-label" for="email-field">Email</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide an email.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ settings_form.password }}
                                            <label class="form-label" for="password-field">Password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a password.</div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="Save Changes" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                    </form>
                                {% elif page_type == 'change_password' %}
                                    <form action="{% url 'user_management:change_password' %}" class="account-settings-form needs-validation" id="change-password-form" method="post" novalidate>
                                        {% csrf_token %}
                                        <div class="form-outline mb-4 form-floating">
                                            {{ change_password_form.old_password }}
                                            <label class="form-label" for="old-password-field">Old Password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a password.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ change_password_form.new_password }}
                                            <label class="form-label" for="new-password-field">New Password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please provide a new password.</div>
                                        </div>
                                        <div class="form-outline mb-4 form-floating">
                                            {{ change_password_form.confirmation }}
                                            <label class="form-label" for="confirmation-field">Repeat New Password</label>
                                            <div class="valid-feedback">Looks good!</div>
                                            <div class="invalid-feedback">Please repeat your new password.</div>
                                        </div>
                                        <div class="d-flex justify-content-center mt-4 mb-0">
                                            <input type="submit" value="Save Changes" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                        </div>
                                    </form>
                                {% else %}
                                    <!-- Error case -->
                                    <div>
                                        <ul class="messages">
                                            <li class="error"><strong>This url is invalid</strong></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>set_form_validation();</script>
{% endblock %}
