@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body
{
  padding-top: 0;
  background-color: #0b121b;
  min-height: 100%;
}

main
{
  margin-left: 240px;
  padding: 0px 10px;
  position: relative;
  border-top-left-radius: 2rem;
  font-family: 'Special Elite', serif;
  margin-bottom: 0;
  border: 1px solid transparent;
  min-height: 100%;
}

#content
{
  background-color: #e5e5e9;
  padding: 3rem;
  height: 100%;
}

.sidenav 
{
  height: 100%;
  width: 240px; /* Set the width of the sidebar */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-top-left-radius: 2rem;
  border-top-right-radius: -0.5rem;
  background: #0b121b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  border-right: solid;
}
.sidenav a 
{
  padding: 6px 8px 6px 16px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Special Elite', serif;
}
.sidenav a:hover 
{
  color: #f1f1f1;
}
.sidenav .closebtn 
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 50px;
  color: #4fc7ee;
}

#re
{
  margin-top: 2px;
  margin-bottom: 15px;
}
#re-main-button
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Special Elite', serif;
  color: #4fc7ee;
  display: block;
  border-style: dashed;
  margin-right: 3px;
  border-radius: 20px;
}
#re-about-button
{
  padding: 6px 8px 6px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 50px;
  font-family: 'Special Elite', serif;
  background: #0b121b;
  color: #4fc7ee;
  display: block;
  border-style: dashed;
  margin-right: 3px;
  border-radius: 20px;
  text-align: center;
}

.dropdown-content 
{
  display: none;
  padding-left: 20px;
}

header
{
  padding: 3rem 3rem 0 3rem;
  background-color: #ebecee;
}

.nav-tabs a, .nav-link 
{
  margin-right: 2rem;
  display: inline-block;
  padding: 1rem 0 1rem 0;
  font-size: 1.15rem;
  color: #8c939e;
  position: relative;
}
.nav-tabs a.active 
{
  color: #101620;
  font-weight: 600;
}
.nav-tabs a.active span 
{
  background: #d9dfea;
  color: #5887d1;
}
.nav-tabs a.active::after 
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #457ace;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.nav-tabs a span 
{
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.25rem 0.4rem;
  font-weight: 600;
  vertical-align: middle;
  position: relative;
  top: -2px;
  background: #dfe0e2;
  color: #868d99;
}

.modal
{
  background-color: #0b121b;
}
.modal-header, .modal-body, .modal-footer
{
  background-color: #e5e5e9!important;
  border-color: #0b121b!important;
}

.stop-scrolling 
{
  height: 100%;
  overflow: hidden;
}
.one-liner
{
  display: inline;
}
.show 
{
  display: block;
}

.sources-search
{
  position: relative;
}
.fa-search
{
  position: absolute;
  top: 10px;
  right: 20px;
  color: #000000;
}

.source-icon, .source-button
{
  display: inline;
  color: white;
}

.source-card-footer
{
  margin-top: auto;
	padding: 1rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#sources-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
}

.source-card
{
  width: 300px;
}

.reference-textarea
{
  overflow: hidden;
}

.pointy-cursor
{
  cursor: pointer;
}

.delete-author-button
{
  margin-top: 10px;
}

#index-container 
{
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.index-form
{
  text-align: center;
  margin: auto;
  width: 70%;
}

.messages 
{
  list-style: none;
  margin: 1em 0 2em;
  padding: 0;
}
.messages li 
{
  padding: 1em;
  width: 100%;
  line-height: 2.0em;
  border-radius: 15px;
}
.messages li.info
{
  background-color: #d0ebff;
}
.messages li.success 
{
  background-color: #b2f2bb;
}
.messages li.error 
{
  background-color: #ffe3e3;
}

#source-type-selector
{
  border-radius: 15px;
  background-color: #72b41b2b;
}

.source-form-area
{
  display: none;
}

#form-section
{
  background-image: url(../images/library-background.jpeg);
  background-repeat: repeat-y;
  overflow: auto; 
  margin-left: 0cm;
  margin: 0;
}

.form-body
{
  background-color: #e5e5e9;
  margin: 0;
}

.form-card 
{
  margin: 0 auto;
  text-align: center;
  border-color: #626C66;
}

.rename-form
{
  width: 1000px;
}

.source-modal-icon
{
  margin-left: 5px;
}

a:link 
{ 
  text-decoration: none;
} 
a:visited 
{ 
  text-decoration: none;
} 
a:hover 
{ 
  text-decoration: none;
} 
a:active 
{ 
  text-decoration: none;
}

.source-footer 
{
  padding: 0px;
}

#left-footer-buttons
{
  position: absolute;
  left: 10px;
}

.expand-button
{
  position: absolute;
  left: 120px;
}

.source-file-button
{
  position: absolute;
  left: 220px;
}

.source-link-button
{
  position: absolute;
  left: 315px;
}

.round-button
{
  border-radius: 15px!important;
}

#footer-menu
{
  position: absolute;
  bottom: 0;
}

.footer-link
{
  color: black;
}

#member-cards-container, #paper-cards-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.transparent-card
{
  background-color: #e5e5e9!important;
  border-color: #e5e5e9!important; 
}
.cards-row
{
  display: flex;
  justify-content: space-between;
}
.left-card
{
  float: left;
}
.right-card
{
  float: right;
}

.light-blue, #header-text, #form-header
{
  color: #118ab2;
}
.color-black
{
  color: black;
}
.color-grey
{
  color: grey;
}
.color-white
{
  color: white;
}
.color-red
{
  color: red;
}

.unarchive-button
{
  text-align: center;
}

.images-row
{
  display: flex;
  column-gap: 30px;
}
#senches-photo
{
  height: 300px;
  width: 300px;
  margin-top: 50px;
  float: 40;
}
#cs50w-logo
{
  height: 300px;
  width: 350px;
  margin-top: 50px;
  float: 40;
}
#django-logo
{
  height: 225px;
  width: 300px;
  margin-top: 90px;
  float: 40;
}
#js-logo
{
  height: 250px;
  width: 350px;
  margin-top: 80px;
  float: 40;
}
.open-bracket
{
  height: 400px;
  width: 100px;
  float: 5;
}
.close-bracket
{
  height: 400px;
  width: 100px;
  float: 5;
}
.plus-sign
{
  height: 150px;
  width: 150px;
  margin-top: 110px;
  float: 10;
}
#multiplication-sign
{
  width: 230px;
  margin-left: 420px;
}
#equal-sign
{
  width: 200px;
  margin-left: 435px;
}

.copy-button
{
  float: right;
}