{% extends "layout.html" %}
{% load static %}

{% block body %}


    <form action="{% url 'work_space:create_space' %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <button id="change_password_button" type="submit">Create Space</button>
    </form>


    <ul>
        {% for space in spaces %}
        <li>
            <a href="{% url 'work_space:space' space.pk %}">{{ space }}</a>
        </li>
        {% endfor %}
    </ul>


    <form action="{% url 'work_space:receive_invitation' %}" method="post">
        {% csrf_token %} 
        {{ invitation_form }}
        <button type="submit">Receive Invitation</button>
    </form><br><br>

    <h3>Receive shared space</h3>
    <form action="{% url 'work_space:receive_shared_space' %}" method="post">
        {% csrf_token %} 
        {{ shared_space_form }}
        <button type="submit">Receive Shared Space</button>
    </form>



{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}