{% extends "layout.html" %}
{% load static %}

{% block body %}

    {% block head %}
        {{ author_formset.media }}
    {% endblock %}


    <style>
        #book_form, #article_form, #chapter_form, #website_form, #source_type_form, .hidden
        {
            display: none;
        }
    </style>
    <script>

        document.addEventListener('DOMContentLoaded', function() {

            const book_button = document.getElementById('book_button');
            const article_button = document.getElementById('article_button');
            const chapter_button = document.getElementById('chapter_button');
            const website_button = document.getElementById('website_button');

            function show_form(type) {

                let form = document.getElementById(`${type}_form`);

                form.style.display = 'block';
            }

            book_button.addEventListener('click', () => show_form(book_button.innerHTML));
            article_button.addEventListener('click', () => show_form(article_button.innerHTML));
            chapter_button.addEventListener('click', () => show_form(chapter_button.innerHTML));
            website_button.addEventListener('click', () => show_form(website_button.innerHTML));


            const add_author_button = document.getElementById('add_author');


            const hidden = document.getElementsByClassName('hidden');

            for (i=0; i<hidden.length; i++) {
                hidden[i].style.display = 'block';
            }

           


        
            window.addEventListener('load', function(event) {
                new ConvenientFormset({
                    'formsetPrefix': '{{ author_formset.prefix }}',
                    'formsContainerSelector': '#author-formset #author-forms-container',
                    'formSelector': '.author-form',

                    'canAddForms': true,
                    'addFormButtonSelector': '#author-formset #add-form-button',
                    'emptyFormTemplateSelector': '#author-formset #empty-form-template',

                    'canDeleteForms': true,
                    'deleteFormButtonSelector': '#delete-form-button',

                    'canOrderForms': true,
                    'moveFormDownButtonSelector': '#move-form-down-button',
                    'moveFormUpButtonSelector': '#move-form-up-button',
                });
            });
        

        });
    </script>


    <h3>{{ space }}</h3>

    <form action="{% url 'paper_work:create_paper' space.pk %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <button id="change_password_button" type="submit">Add Paper</button>
    </form>

    <ul>
        {% for paper in papers %}
        <li>
            <a href="{% url 'paper_work:paper_space' paper.pk %}">{{ paper }}</a>
        </li>
        {% endfor %}
    </ul><br><br>

    
   




    <ul>
        {% for book in books %}
        <li>
           <a href="{% url 'bookshelf:source_space' book.pk %}">{{ book }}</a>
        </li>
        {% endfor %}
    </ul><br><br>


    <li>
        <a href="{% url 'work_space:download_space' space.pk %}">Donwload space</a>
    </li><br><br><br>
    



    <button id="book_button" type="submit">book</button>
    <button id="article_button" type="submit">article</button>
    <button id="chapter_button" type="submit">chapter</button>
    <button id="website_button" type="submit">website</button>


    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="book_form">
        {% csrf_token %} 
        {{ book_form.as_p }}
        <button value="book" name="book" type="submit">Add Book</button>
    </form><br><br><br>

    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="article_form">
        {% csrf_token %} 
        {{ article_form.as_p }}
        <button value="article" name="article" type="submit">Add Article</button>
    </form><br><br><br>


    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="chapter_form">
        {% csrf_token %} 
        {{ chapter_form.as_p }}
        <button value="chapter" name="chapter" type="submit">Add Chapter</button>
    </form><br><br><br>


    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="website_form">
        {% csrf_token %} 
        {{ website_form.as_p }}
        <button value="website" name="website" type="submit">Add Website</button>
    </form><br><br><br>




    <div id="author-formset">
        <div id="author-forms-container">
            {% for author_form in author_formset.forms %}
                <div class="author-form">
                    {{ author_form.last_name }}
                    {{ author_form.first_name }}
                    {{ author_form.second_name }}
                    {% if author_formset.can_delete %}
                        {{ author_form.DELETE }}
                        <input type="button" id="delete-form-button" value="Delete">
                    {% endif %}
                    {% if author_formset.can_order %}
                        {{ author_form.ORDER }}
                        <input type="button" id="move-form-up-button" value="Move up">
                        <input type="button" id="move-form-down-button" value="Move down">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div><input type="button" id="add-form-button" value="Add another"></div>
        <template id="empty-form-template">
            <div class="author-form">
                {{ author_formset.empty_form.last_name }}
                {{ author_formset.empty_form.first_name }}
                {{ author_formset.empty_form.second_name }}
                {% if author_formset.can_delete %}
                    <input type="button" id="delete-form-button" value="Delete">
                {% endif %}
                {% if author_formset.can_order %}
                    {{ author_form.ORDER }}
                    <input type="button" id="move-form-up-button" value="Move up">
                    <input type="button" id="move-form-down-button" value="Move down">
                {% endif %}
            </div>
        </template>
        {{ author_formset.management_form }}
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}