{% extends "layout.html" %}
{% load static %}

{% block body %}


    <h3>{{ space }}</h3>

    <form action="{% url 'paper_work:create_paper' space.pk %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <button id="change_password_button" type="submit">Add Paper</button>
    </form>

    <ul>
        {% for paper in papers %}
        <li>
            <a href="{% url 'paper_work:paper_space' paper.pk %}">{{ paper }}</a>
        </li>
        {% endfor %}
    </ul><br><br>

    <li>
        <a href="{% url 'work_space:download_space' space.pk %}">Donwload space</a>
    </li>
    
   

{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}