{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/source_forms.js' %}"></script>
{% endblock %}


{% block body %}
    <style>
        #book_form, #article_form, #chapter_form, #webpage_form, #second_author
        {
            display: none;
        }
    </style>
    
    <h3>{{ space }}</h3><br><br>

    <form action="{% url 'work_space:rename_space' space.pk %}" method="post">
        {% csrf_token %} 
        {{ rename_form }}
        <button type="submit">Rename space</button>
    </form><br><br>

    <form action="{% url 'paper_work:create_paper' space.pk %}" method="post">
        {% csrf_token %} 
        {{ form }}
        <button id="change_password_button" type="submit">Add Paper</button>
    </form>

    <ul>
        {% for paper in papers %}
        <li>
            <a href="{% url 'paper_work:paper_space' paper.pk %}">{{ paper }}</a>
        </li>
        {% endfor %}
    </ul><br><br>


    <ul>
        {% for book in books %}
        <li>
           <a href="{% url 'bookshelf:source_space' book.pk %}">{{ book }}</a>
        </li>
        {% endfor %}
    </ul><br><br>


    <li>
        <a href="{% url 'work_space:download_space' space.pk %}">Donwload space</a>
    </li><br><br><br>
    

    <button class="show_form_button" id="book" type="button">book</button>
    <button class="show_form_button" id="article" type="button">article</button>
    <button class="show_form_button" id="chapter" type="button">chapter</button>
    <button class="show_form_button" id="webpage" type="button">webpage</button>

    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="book_form" class="source_form">
        <div class="author_div"></div>
        {% csrf_token %} 
        {{ book_form.as_p }}
        <button value="book" name="book" type="submit">Add Book</button>
    </form>
    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="article_form" class="source_form">
        <div class="author_div"></div>
        {% csrf_token %} 
        {{ article_form.as_p }}
        <button value="article" name="article" type="submit">Add Article</button>
    </form>
    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="chapter_form" class="source_form">
        <div id="chapter_author_div"></div>
        {% csrf_token %}
        {{ chapter_form.as_p }}
        <div class="author_div"></div>
        <button value="chapter" name="chapter" type="submit">Add Chapter</button>
    </form>
    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" id="webpage_form" class="source_form">
        <div class="author_div"></div>
        {% csrf_token %} 
        {{ webpage_form.as_p }}
        <button value="webpage" name="webpage" type="submit">Add Webpage</button>
    </form><br><br><br><br>

    <h4>New comment:</h4>
    <form action="{% url 'work_comments:leave_comment' space.pk %}" method="post">
        {% csrf_token %} 
        {{ comment_form }}
        <button type="submit">Add Comment</button>
    </form><br><br>
    
    <h3>Comments:</h3>
    <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
            <small>{{ comment.created }}</small>
        {% endfor %}
    </ul><br><br><br>

    <h3>Alter Comments:</h3>
    # TODO
    <br><br><br>

    <br>



    


{% endblock %}
