{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/paper_space.js' %}"></script>
{% endblock %}

{% block title %}
    {{ paper }}
{% endblock %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'work_space:space_view' paper.work_space.pk %}" class="color-grey">{{ paper.work_space }}</a></li>
            <li class="breadcrumb-item active light-blue" aria-current="page">
                <h2 class="one-liner light-blue">{{ paper }}&nbsp;<i id="edit-title-symbol" class="fa-solid fa-pen-to-square fa-xs" style="display: none;"></i></h2>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block nav_links %}
    <nav class="nav-tabs" id="nav-tabs">
        <a onclick="show_paper_area('main-area');return false" href="#" type="button" class="active">
            Main Info
        </a>
        <a onclick="show_paper_area('sources-area');return false" href="#" type="button">
            Choose Sources&nbsp;<span>{{ number_of_sources }}</span>
        </a>
        <a onclick="show_paper_area('files-area');return false" href="#" type="button">
            File history&nbsp;<span>{{ number_of_files }}</span>
        </a>
        <a onclick="show_paper_area('actions-area');return false" href="#" type="button" id="actions-button">
            Actions
        </a>
    </nav>
{% endblock %}

{% block body %}

    <div class="paper-area" id="main-area">

        <h4>TODO</h4>
        <br>
        <h4>Create paper form add apa/mla</h4>
        <h4>Change apa/mla at actions?</h4>
        <h4>Choose sources form (if in "sources" - then checked checkboxes)</h4>
        <h4>CSS of statistics</h4>
        <h4>Css of files history</h4>
        <br><br><br>

        {% if last_file_id %}
            <script>get_paper_file_info('{{ last_file_id }}')</script>


            <h3>Number of words: <div id="number-of-words"></div></h3>
            <br>
            <h3>Number of characters without spaces: <div id="characters-no-space"></div></h3>
            <br>
            <h3>Number of characters with spaces: <div id="characters-with-space"></div></h3>
            <h3>Number of pages: <div id="number-of-pages"></div></h3>

        {% else %}
            <a onclick="document.getElementById('actions-button').click(); return false" class="light-blue" href="#" type="button">
                <h1>Upload your first file to see statistics!</h1>
            </a>
        {% endif %}



        <br><br><br><br>        
        {% if sources %}
            <div>
                <h2 class="mb-4 light-blue" id="bibliography-header">Bibliography ({{ paper.citation_style }})</h2>
                <textarea class="form-control ms-5" id="bibliography-textarea">{{ bibliography }}</textarea>
                <button onclick="copy_bibliography()" type="button" class="btn btn-lg btn-dark mt-4" id="bibliography-button">Copy</button>
            </div>
        {% endif %}
    </div>
    <div class="paper-area" id="sources-area" style="display: none;">

        <h3>Choose sources</h3>
    
        <form action="{% url 'paper_work:select_sources' paper.pk %}" method="post">
            {% csrf_token %} 
            {{ choose_sources_form }}
            <button type="submit">Choose</button>
        </form>
        
    
    </div>
    <div class="paper-area" id="files-area" style="display: none;">


        <br>
        <h4>File history</h4>


        <br><br>

        <ul>
            {% for file in paper_files %}
                <li>
                    <a href="{% url 'file_handling:display_paper_file' file.pk %}">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>
    
       
    
    
    
    </div>
    <div class="paper-area" id="actions-area" style="display: none;">
        <div class="cards-row">
            <!-- Upload Paper File Card -->
            <div class="card mb-3 transparent-card left-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/flat_icons/paper/upload_paper.png" class="img-fluid rounded-start" alt="Upload new File">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Save new version</h5>
                            <p class="card-text">
                                <br>Upload new .docx / .pdf file here:<br>
                                <a href="#upload-file-modal" class="open-modal-button light-blue" data-bs-toggle="modal" data-bs-target="#upload-file-modal">
                                    New {{ paper }} version
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Append Bibliography Card -->
            <div class="card mb-3 transparent-card right-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/flat_icons/paper/append_bibliography.png" class="img-fluid rounded-start" alt="Append Bibliography">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Auto add bibliography</h5>
                            <p class="card-text">
                                <br>Add the bibliography to the end of my latest file:<br>
                                {% if sources %}
                                    <a href="{% url 'paper_work:append_bibliography' paper.pk %}" class="open-modal-button light-blue">
                                        And download updated file ofc!
                                    </a>
                                {% else %}
                                    <h6 class="color-red">You haven't chosen any sources yet...</h6>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="cards-row">
            <!-- Clear Paper File History -->
            <div class="card mb-3 transparent-card left-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/flat_icons/paper/clear_history.png" class="img-fluid rounded-start" alt="Clear File History">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <br><h5 class="card-title">Clear File History</h5>
                            <p class="card-text">
                                <br>Start everything from scratch:<br>
                                <a href="#clear-history-modal" class="open-modal-button color-red" data-bs-toggle="modal" data-bs-target="#clear-history-modal">
                                    Clear all files
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Archive Paper Card -->
            <div class="card mb-3 transparent-card right-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/flat_icons/paper/archive_paper.png" class="img-fluid rounded-start" alt="Archivation">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <br><h5 class="card-title">Archive Paper</h5>
                            <p class="card-text">
                                <br>Click here at your own risk:<br>
                                <a  href="#archive-paper-modal" class="open-modal-button color-red" data-bs-toggle="modal" data-bs-target="#archive-paper-modal">
                                    Archive {{ paper }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upload Paper File Modal -->
        <div class="modal fade" id="upload-file-modal" tabindex="-1" aria-labelledby="upload-file-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="upload-file-modal-label">Upload new .docx / .pdf file here</h1>
                        <button type="button" class="btn-close close-header-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="{% url 'file_handling:upload_paper_file' paper.pk %}" method="post" class="needs-validation" novalidate>
                            {% csrf_token %} 
                            <div class="form-outline mb-4 form-floating">
                                {{ new_file_form.commit_text }}
                                <label class="form-label" for="commit-field">Short comment</label>
                            </div>
                            <div class="mb-3">
                                {{ new_file_form.file }}
                            </div>
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="Upload" class="btn btn-info btn-lg btn-block gradient-custom-4 text-body"></input>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-footer-button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cleaning History Modal -->
        <div class="modal fade" id="clear-history-modal" tabindex="-1" aria-labelledby="clear-history-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="clear-history-modal-label">{{ paper }} files will be deleted!</h1>
                        <button type="button" class="btn-close close-header-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to delete all files?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'paper_work:clear_paper_file_history' paper.pk %}" class="color-white">Clear History</a>
                        </button>
                        <button type="button" class="btn btn-secondary close-footer-button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Paper Archivation Modal -->
        <div class="modal fade" id="archive-paper-modal" tabindex="-1" aria-labelledby="archive-paper-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="archive-paper-modal-label">{{ paper }} will be archived!</h1>
                        <button type="button" class="btn-close close-header-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to archive this Paper?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'paper_work:archive_paper' paper.pk %}" class="color-white">Archive Paper</a>
                        </button>
                        <button type="button" class="btn btn-secondary close-footer-button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hidden parts of page -->
    <div id="paper-id" style="display: none;">{{ paper.pk }}</div>
    <div id="last-file-id" style="display: none;">{{ last_file_id }}</div>
    <div id="rename-paper-form-div" style="display: none;">
        <form action="{% url 'paper_work:rename_paper' paper.pk %}" class="rename-form" method="post" style="display: inline-block;">
            {% csrf_token %}
            <div class="form-outline row">
                <div class="col-md">
                    {{ rename_form.title }}
                </div>
                <div class="col-md">
                    <input type="submit" value="Rename" class="btn btn-info gradient-custom-4">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

