{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/source_space.js' %}"></script>
{% endblock %}

{% block title %}
    {{ source }}
{% endblock %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'work_space:space_view' source.work_space.pk %}" class="color-grey">{{ source.work_space }}</a></li>
            <li class="breadcrumb-item active light-blue" aria-current="page">
                <h2 class="one-liner light-blue">"{{ source }}" by {{ source.author }}&nbsp;<i id="edit-title-symbol" class="fa-solid fa-pen-to-square fa-xs" style="display: none;"></i></h2>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block nav_links %}
    <nav class="nav-tabs" id="nav-tabs">
        <a onclick="show_paper_area('reference-area');return false" href="#" type="button" class="active">
            Reference
        </a>
        <a onclick="show_paper_area('quotes-area');return false" href="#" type="button">
            Quotes&nbsp;<span>{{ number_of_quotes }}</span>
        </a>
        <a onclick="show_paper_area('settings-area');return false" href="#" type="button" id="settings-area-button">
            Settings
        </a>
    </nav>
{% endblock %}

{% block body %}
    <div id="source-space-div">

        <h4>TODO</h4>
        <br>
        <h4>Toggle between areas</h4>
        <h4>Each Area</h4>
        <h4>What to do with modal source spaces?</h4>

        <br><br><br><br>

        <div class="source-area" id="reference-area">

        </div>

        <div class="source-area" id="quotes-area" style="display: none;">

        </div>

        <div class="source-area" id="settings-area" style="display: none;">

            <h2>Settings</h2>

        </div>



        <div class="source-space" id="source-space-{{ source.pk }}">






            <!-- Messages -->
            {% if messages %}
                <div>
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            
            <br>

            <h4>Reference</h4>
            <ul>
                <li>{{ reference.endnote_apa }}</li>
                <li>{{ reference.endnote_mla }}</li>
            </ul>
            <br><br>

            <form action="{% url 'bookshelf:add_quote' source.pk %}" id="new_quote_form" method="post">
                {% csrf_token %} 
                {{ new_quote_form }}
                <button type="submit">Add Quote</button>
            </form><br><br>


            <h3>Quotes</h3>
            <ul>
                {% for quote in quotes %}
                <div id="quote_{{ quote.pk }}">
                    <li>
                        {{ quote }} | Quote apa: {{ quote.apa }} | Quote mla: {{ quote.mla }}
                        <button class="delete_quote_buttons" id="{{ quote.pk }}">Delete Quote</button>
                    </li>
                </div>
                {% endfor %}
            </ul>

            {% for quote in quotes %}
                <div class="card text-bg-secondary">
                    <div class="card-header">
                        ???
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ quote.text }}</p>
                            <footer style="color: white;" class="blockquote-footer">{{ quote.apa }}</footer>
                            <footer style="color: white;" class="blockquote-footer">{{ quote.mla }}</footer>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}



        </div>
        <div id="source-settings-{{ source.pk }}" style="display: none;">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                            <div class="card form-card" style="border-radius: 15px;">
                                <div class="card-body p-5 form-body">
                                    <h2 class="text-uppercase text-center mb-4 mt-0" id="form-header">Edit</h2>
                                    <div id="edit-source-error-message" class="form-error-message" style="display: none;">
                                        <ul class="messages">
                                            <li class="error">Error</li>
                                        </ul>
                                    </div>
                                    <h4>Source Info</h4>
                                    {% if source_type == 'book' %}
                                        <form action="{% url 'bookshelf:alter_source' source.pk %}" method="post" id="alter_source_form-{{ source.pk }}" class="needs-validation edit-form" novalidate>
                                            {% csrf_token %}
                                            {{ alter_source_form.source_type }}
                                            {{ alter_source_form.number_of_authors }}
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.author }}
                                                <label class="form-label" for="author-field">Author</label>
                                                <div class="invalid-feedback">Please provide books title.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.title }}
                                                <label class="form-label" for="title-field">Title</label>
                                                <div class="invalid-feedback">Please provide books title.</div>
                                            </div>
                                            <div class="form-outline mb-4 row">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.publishing_house }}
                                                        <label class="form-label" for="publishing-house-field">Publishing House</label>
                                                        <div class="invalid-feedback">Please provide books publishing house.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.year }}
                                                        <label class="form-label" for="book-year-field">Year</label>
                                                        <div class="invalid-feedback">Please provide publishing year.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    {% elif source_type == 'article' %}
                                        <form action="{% url 'bookshelf:alter_source' source.pk %}" method="post" id="alter_source_form-{{ source.pk }}" class="needs-validation edit-form" novalidate>
                                            {% csrf_token %}
                                            {{ alter_source_form.source_type }}
                                            {{ alter_source_form.number_of_authors }}
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.author }}
                                                <label class="form-label" for="author-field">Author</label>
                                                <div class="invalid-feedback">Please provide article author.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.title }}
                                                <label class="form-label" for="title-field">Title</label>
                                                <div class="invalid-feedback">Please provide article title.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.journal_title }}
                                                <label class="form-label" for="journal-title-field">Journal Title</label>
                                                <div class="invalid-feedback">Please provide journal title.</div>
                                            </div>
                                            <div class="form-outline mb-4 row">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.volume }}
                                                        <label class="form-label" for="volume-field">Volume</label>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide journal volume.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.issue }}
                                                        <label class="form-label" for="issue-field">Issue</label>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide journals issue.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-outline mb-4 row">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.pages }}
                                                        <label class="form-label" for="article-pages-field">Article pages</label>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide article pages.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.year }}
                                                        <label class="form-label" for="article-year-field">Article Year</label>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide article year.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.link_to_journal }}
                                                <label class="form-label" for="link-to-journal-field">Link to Journal</label>
                                            </div>
                                        </form>
                                    {% elif source_type == 'chapter' %}
                                        <form action="{% url 'bookshelf:alter_source' source.pk %}" method="post" id="alter_source_form-{{ source.pk }}" class="needs-validation edit-form" novalidate>
                                            {% csrf_token %}
                                            {{ alter_source_form.source_type }}
                                            {{ alter_source_form.number_of_authors }}
                                            {{ alter_source_form.number_of_chapter_authors }}
                                            <div id="chapter-author-div"></div><br>
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.title }}
                                                <label class="form-label" for="chapter-title-field">Chapter Title</label>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please provide chapter title.</div>
                                            </div>
                                            <div class="author-div"></div><br>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.book_title }}
                                                <label class="form-label" for="book-title-field">Book title</label>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please provide book title.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.publishing_house }}
                                                <label class="form-label" for="chapter-publishing-house-field">Publishing House</label>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please provide publishing house.</div>
                                            </div>
                                            <div class="form-outline mb-4 row">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.edition }}
                                                        <label class="form-label" for="edition-field">Edition</label>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide book edition.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.pages }}
                                                        <label class="form-label" for="chapter-pages-field">Pages</label>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide chapters pages.</div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        {{ alter_source_form.year }}
                                                        <label class="form-label" for="chapter-year-field">Year</label>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please provide publishing year.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    {% elif source_type == 'webpage' %}
                                        <form action="{% url 'bookshelf:alter_source' source.pk %}" method="post" id="alter_source_form-{{ source.pk }}" class="needs-validation edit-form" novalidate>
                                            {% csrf_token %}
                                            {{ alter_source_form.source_type }}
                                            {{ alter_source_form.number_of_authors }}
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.author }}
                                                <label class="form-label" for="author-field">Author</label>
                                                <div class="invalid-feedback">Please provide webpage author.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ alter_source_form.title }}
                                                <label class="form-label" for="title-field">Title</label>
                                                <div class="invalid-feedback">Please provide webpage title.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.website_title }}
                                                <label class="form-label" for="website-title-field">Website title</label>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please provide website title.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.link }}
                                                <label class="form-label" for="page-url-field">Page URL</label>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please provide page url.</div>
                                            </div>
                                            <div class="form-outline mb-4 form-floating">
                                                {{ alter_source_form.date }}
                                                <label class="form-label" for="date-field">Date</label>
                                                <div class="valid-feedback">Looks good!</div>
                                                <div class="invalid-feedback">Please provide date.</div>
                                            </div>

                                        </form>
                                    {% endif %}
                                    {% if source_type != 'webpage' %}
                                        <h4>Link to source</h4>
                                        <form action="{% url 'bookshelf:add_link' source.pk %}" id="add-link-form-{{ source.pk }}" method="post" class="needs-validation edit-form" novalidate>
                                            {% csrf_token %}
                                            <div class="form-outline mb-4 form-floating">         
                                                {{ link_form.link }}
                                                <label class="form-label" for="link-field">Link</label>
                                                <div class="invalid-feedback">Please provide a valid url.</div>
                                            </div>   
                                        </form>
                                    {% endif %}
                                    {% if source.has_file %}
                                        <h4>Upload new source file</h4>
                                    {% else %}
                                        <h4>Upload source file</h4>
                                    {% endif %}
                                    <form enctype="multipart/form-data" action="{% url 'file_handling:upload_source_file' source.pk %}" method="post" id="upload-file-form-{{ source.pk }}" class="edit-form">
                                        {% csrf_token %}
                                        <div class="form-outline mb-4">         
                                            {{ upload_file_form.file }}
                                        </div>
                                    </form>
                                    <div class="d-flex justify-content-center mb-0">
                                        <input onclick="submit_source_forms('{{ source.pk }}')" type="button" value="Save Changes" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mb-0" formnovalidate></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>    
        </div>
    </div>
    <div id="hidden-source-footer" style="display: none;">
        <div class="btn-toolbar" role="toolbar" id="left-footer-buttons">
            <div class="btn-group" role="group">
                <button onclick="delete_source('{{ source.id }}')" id="delete-source-button-{{ source.id }}" type="button" class="btn btn-danger round-button" style="display: none;">Delete source&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></button>
                <button onclick="show_or_hide_source_settings('{{ source.id }}')" type="button" id="show-source-settings-button-{{ source.id }}" class="btn btn-warning round-button">Edit&nbsp;&nbsp;<i class="fa-solid fa-gears source-modal-icon"></i></button>
            </div>
        </div>
        <div class="btn-toolbar expand-button" role="toolbar">
            <a href="{% url 'bookshelf:source_space' source.id %}" id="expand-button-{{ source.id }}">
                <button type="button" class="btn btn-dark round-button">Full&nbsp;&nbsp;<i class="fa-solid fa-expand"></i></button>
            </a>
        </div>
        {% if source.has_file %}
            <div class="btn-toolbar source-file-button" role="toolbar" id="">
                <a href="{% url 'file_handling:display_source_file' source_file_id %}" id="open-source-file-button-{{ source.id }}">
                    <button type="button" class="btn btn-dark round-button">File&nbsp;&nbsp;<i class="fa-solid fa-file"></i></button>
                </a>
            </div>
        {% endif %}
        {% if source.link %}
            {% if source.has_file %}
            <div class="btn-toolbar source-link-button" role="toolbar">
                <a href="{{ source.link }}" id="source-link-button-{{ source.id }}">
                    <button type="button" class="btn btn-dark round-button">Link&nbsp;&nbsp;<i class="fa-solid fa-link source-modal-icon"></i></button>
                </a>
            </div>
            {% else %}
                <div class="btn-toolbar source-file-button" role="toolbar">
                    <a href="{{ source.link }}" id="source-link-button-{{ source.id }}">
                        <button type="button" class="btn btn-dark round-button">Link&nbsp;&nbsp;<i class="fa-solid fa-link source-modal-icon"></i></button>
                    </a>
                </div>
            {% endif %}
        {% endif %}
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button onclick="show_or_hide_source_settings('{{ source.id }}')" type="button" class="btn btn-secondary round-button " id="close-source-settings-button-{{ source.id }}" style="display: none;">Back</button>
                <button type="button" class="btn btn-secondary round-button" data-bs-dismiss="modal" id="close-source-modal-button-{{ source.id }}">Close</button>
            </div>
        </div>
    </div>
    <div id="source-id" style="display: none;">{{ source.pk }}</div>
    <div id="source-space-header" style="display: none;">"{{ source }}" by {{ source.author }}</div>
{% endblock %}
