{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'js/workspace.js' %}"></script>
    <script src="{% static 'js/source_creation.js' %}"></script>
{% endblock %}

{% block title %}
    {{ space }}
{% endblock %}

{% block header %}
   {{ space }}&nbsp;<i id="edit-title-symbol" class="fa-solid fa-pen-to-square fa-xs" style="display: none;"></i>
{% endblock %}

{% block nav_links %}
    <nav class="nav-tabs" id="nav-tabs">
        <a onclick="show_workspace_area('sources-area');return false" href="#" type="button" class="active">
            Sources&nbsp;<span>{{ number_of_sources }}</span>
        </a>
        <a onclick="show_workspace_area('papers-area');return false" href="#" type="button">
            Papers&nbsp;<span>{{ number_of_papers }}</span>
        </a>
        <a onclick="show_workspace_area('members-area');return false" href="#" type="button">
            Members&nbsp;<span>{{ number_of_members }}</span>
        </a>
        <a onclick="show_workspace_area('actions-area');return false" href="#" type="button">
            Actions
        </a>
    </nav>
{% endblock %}

{% block body %}
    <div class="workspace-area" id="sources-area">
        <h3>Sources</h3><br>
        {% if sources %}
            <div class="sources-search">
                <i class="fa fa-search"></i>
                <input onkeyup="search_source()" id="search-box" class="form-control form-input" type="text" placeholder="Search your sources here...">
            </div>
            <br><br>
        {% endif %}
        <div id="sources-container">
            <!-- New Source Card -->
            <div class="card text-bg-secondary mb-3 pointy-cursor new-source-card" data-bs-toggle="modal" data-bs-target="#new-source">
                <div class="card-header">{{ space }}</div>
                <div class="card-body">
                    <h5 class="card-title source-button">Add new source here</h5>
                </div>
                <div class="card-footer source-card-footer">
                    <small class="text-body-secondary source-incons-div">
                        <div class="source-icons">
                            <div class="source-icon">
                                <span><i class="fa-solid fa-book fa-xl"></i></span>
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="source-icon">
                                <span><i class="fa-solid fa-book-bookmark fa-xl"></i></span>
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="source-icon">
                                <span><i class="fa-solid fa-newspaper fa-xl"></i></span>
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="source-icon">
                                <span><i class="fa-solid fa-globe fa-xl"></i></span>
                            </div>
                        </div>
                    </small>
                </div>
            </div>
            {% for source in sources %}
                <!-- Source Card -->
                <div onclick="load_and_show_source_space('{{ source.id }}')" id="source-card-{{ source.id }}" class="card text-bg-secondary mb-3 pointy-cursor source-card" data-bs-toggle="modal" data-bs-target="#source-space-modal-{{ source.id }}">
                    <div class="card-header source-author">{{ source.author }}</div>
                    <div class="card-body source-card-body">
                        <h5 class="card-title source-button source-title">"{{ source.title }}"</h5>
                    </div>
                    <div class="card-footer source-card-footer">
                        <small class="text-body-secondary">
                            <div class="source-icons">
                                <div class="source-type-icon">
                                    {% if source.type == 'book' %}
                                    <span><i class="fa-solid fa-book fa-xl"></i></span>
                                    {% elif source.type == 'article' %}
                                        <span><i class="fa-solid fa-newspaper fa-xl"></i></span>
                                    {% elif source.type == 'chapter' %}
                                        <span><i class="fa-solid fa-book-bookmark fa-xl"></i></span>
                                    {% elif source.type == 'webpage' %}
                                        <span><i class="fa-solid fa-globe fa-xl"></i></span>
                                    {% endif %}
                                </div>
                                {% if source.has_file %}
                                    <div class="source-icon">
                                        <i class="fa-solid fa-file"></i>
                                    </div>&nbsp;
                                {% endif %}
                                {% if source.link %}
                                    <div class="source-icon">
                                        <i class="fa-solid fa-link"></i>
                                    </div>&nbsp;
                                {% endif %}
                                {% if source.has_quotes %}
                                    <div class="source-icon">
                                        <i class="fa-solid fa-quote-left"></i>
                                        <i class="fa-solid fa-quote-right"></i>
                                    </div>&nbsp;
                                {% endif %}
                                <div class="source-icon">
                                    <strong><i class="fa-solid fa-asterisk"></i></strong>
                                </div>
                            </div>
                        </small>
                    </div>
                </div>
                <!-- Source Modal -->
                <div class="modal fade source-modal" id="source-space-modal-{{ source.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="source-space-label-{{ source.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 light-blue" id="source-space-label-{{ source.id }}"></h1>
                                <button type="button" class="btn-close" id="btn-close-{{ source.id }}" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="source-space-div-{{ source.id }}"></div>
                            <div id="source-id" style="display: none;">{{ source.id }}</div>
                            <div class="modal-footer source-footer" id="source-footer-div-{{ source.id }}">
                                <div class="source-footer-button left-source-footer-button">
                                    <button onclick="delete_source('{{ source.id }}')" id="delete-source-button-{{ source.id }}" type="button" class="btn btn-danger round-button" style="display: none;">Delete source&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></button>
                                    <button onclick="show_or_hide_source_settings('{{ source.id }}')" type="button" id="show-source-settings-button-{{ source.id }}" class="btn btn-warning round-button">Edit&nbsp;<i class="fa-solid fa-gears source-modal-icon"></i></button>
                                </div>
                                <div class="source-footer-button middle-source-footer-buttons">
                                    <a href="{% url 'bookshelf:source_space' source.id %}" id="expand-button-{{ source.id }}">
                                        <button type="button" class="btn btn-dark round-button">Full Screen&nbsp;&nbsp;<i class="fa-solid fa-expand"></i></button>
                                    </a>
                                    {% if source.has_file %}
                                        <a href="{% url 'file_handling:display_source_file' source.file_id %}" id="open-source-file-button-{{ source.id }}">
                                            <button type="button" class="btn btn-dark round-button">File&nbsp;&nbsp;<i class="fa-solid fa-file"></i></button>
                                        </a>
                                    {% endif %}
                                    {% if source.link %}
                                        <a href="{{ source.link }}" id="source-link-button-{{ source.id }}">
                                            <button type="button" class="btn btn-dark round-button">Link&nbsp;&nbsp;<i class="fa-solid fa-link source-modal-icon"></i></button>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="source-footer-button left-source-footer-button invisible-button"></div>
                                <div class="source-footer-button right-source-footer-button">
                                    <button onclick="show_or_hide_source_settings('{{ source.id }}')" type="button" class="btn btn-secondary round-button " id="close-source-settings-button-{{ source.id }}" style="display: none;">Back</button>
                                    <button type="button" class="btn btn-secondary round-button" data-bs-dismiss="modal" id="close-source-modal-button-{{ source.id }}">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Add new source modal -->
        <div class="modal fade" id="new-source" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="new-source-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="new-source-label">Add new source</h1>
                        <button type="button" class="btn-close" id="btn-new-source-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="new-source-div">
                        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                            <div class="container h-100">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-lg-12 col-lg-9 col-lg-7 col-lg-6">
                                        <div class="card form-card" style="border-radius: 15px;">
                                            <div class="card-body p-5 form-body">
                                                <h2 class="text-uppercase text-center mb-5" id="form-header">New Source</h2>
                                                <select class="form-select" id="source-type-selector">
                                                    <option value="" selected>Choose type of source</option>
                                                    <option value="book-form">Book</option>
                                                    <option value="article-form">Article</option>
                                                    <option value="chapter-form">Chapter in a book</option>
                                                    <option value="webpage-form">Webpage</option>
                                                </select><br>
                                                <div class="source-form-area" id="book-form">
                                                    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                        {% csrf_token %}
                                                        {{ book_form.source_type }}
                                                        {{ book_form.number_of_authors }}
                                                        <div class="author-div"></div><br>
                                                        <div class="form-outline mb-4 form-floating">         
                                                            {{ book_form.title }}
                                                            <label class="form-label" for="title-field">Title</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide books title.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ book_form.publishing_house }}
                                                            <label class="form-label" for="publishing-house-field">Publishing House</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide books publishing house.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ book_form.year }}
                                                            <label class="form-label" for="book-year-field">Year</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide publishing year.</div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <input type="submit" value="Add book" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="source-form-area" id="article-form">
                                                    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                        {% csrf_token %}
                                                        {{ article_form.source_type }}
                                                        {{ article_form.number_of_authors }}
                                                        <div class="author-div"></div><br>
                                                        <div class="form-outline mb-4 form-floating">         
                                                            {{ article_form.title }}
                                                            <label class="form-label" for="article-title-field">Article Title</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide article title.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ article_form.journal_title }}
                                                            <label class="form-label" for="journal-title-field">Journal Title</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide journal title.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 row">
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    {{ article_form.volume }}
                                                                    <label class="form-label" for="volume-field">Volume</label>
                                                                    <div class="valid-feedback">Looks good!</div>
                                                                    <div class="invalid-feedback">Please provide journal volume.</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    {{ article_form.issue }}
                                                                    <label class="form-label" for="issue-field">Issue</label>
                                                                    <div class="valid-feedback">Looks good!</div>
                                                                    <div class="invalid-feedback">Please provide journals issue.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-outline mb-4 row">
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    {{ article_form.pages }}
                                                                    <label class="form-label" for="article-pages-field">Article pages</label>
                                                                    <div class="valid-feedback">Looks good!</div>
                                                                    <div class="invalid-feedback">Please provide article pages.</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    {{ article_form.year }}
                                                                    <label class="form-label" for="article-year-field">Article Year</label>
                                                                    <div class="valid-feedback">Looks good!</div>
                                                                    <div class="invalid-feedback">Please provide article year.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ article_form.link_to_journal }}
                                                            <label class="form-label" for="link-to-journal-field">Link to Journal</label>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <input type="submit" value="Add article" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="source-form-area" id="chapter-form">
                                                    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                        {% csrf_token %}
                                                        {{ chapter_form.source_type }}
                                                        {{ chapter_form.number_of_authors }}
                                                        {{ chapter_form.number_of_chapter_authors }}
                                                        <div id="chapter-author-div"></div><br>
                                                        <div class="form-outline mb-4 form-floating">         
                                                            {{ chapter_form.title }}
                                                            <label class="form-label" for="chapter-title-field">Chapter Title</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide chapter title.</div>
                                                        </div>
                                                        <div class="author-div"></div><br>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ chapter_form.book_title }}
                                                            <label class="form-label" for="book-title-field">Book title</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide book title.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ chapter_form.publishing_house }}
                                                            <label class="form-label" for="chapter-publishing-house-field">Publishing House</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide publishing house.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 row">
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    {{ chapter_form.edition }}
                                                                    <label class="form-label" for="edition-field">Edition</label>
                                                                    <div class="valid-feedback">Looks good!</div>
                                                                    <div class="invalid-feedback">Please provide book edition.</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    {{ chapter_form.pages }}
                                                                    <label class="form-label" for="chapter-pages-field">Pages</label>
                                                                    <div class="valid-feedback">Looks good!</div>
                                                                    <div class="invalid-feedback">Please provide chapters pages.</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md">
                                                                <div class="form-floating">
                                                                    {{ chapter_form.year }}
                                                                    <label class="form-label" for="chapter-year-field">Year</label>
                                                                    <div class="valid-feedback">Looks good!</div>
                                                                    <div class="invalid-feedback">Please provide publishing year.</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <input type="submit" value="Add Chapter" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="source-form-area" id="webpage-form">
                                                    <form action="{% url 'bookshelf:add_source' space.pk %}" method="post" class="source-form needs-validation" novalidate>
                                                        {% csrf_token %}
                                                        {{ webpage_form.source_type }}
                                                        {{ webpage_form.number_of_authors }}
                                                        <div class="author-div"></div><br>
                                                        <div class="form-outline mb-4 form-floating">         
                                                            {{ webpage_form.title }}
                                                            <label class="form-label" for="page-title-field">Page Title</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide page title.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ webpage_form.website_title }}
                                                            <label class="form-label" for="website-title-field">Website title</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide website title.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ webpage_form.link }}
                                                            <label class="form-label" for="page-url-field">Page URL</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide page url.</div>
                                                        </div>
                                                        <div class="form-outline mb-4 form-floating">
                                                            {{ webpage_form.date }}
                                                            <label class="form-label" for="date-field">Date</label>
                                                            <div class="valid-feedback">Looks good!</div>
                                                            <div class="invalid-feedback">Please provide date.</div>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <input type="submit" value="Add webpage" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"></input>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="modal-footer" id="new-source-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workspace-area" id="papers-area" style="display: none;">
        <h2>Papers</h2><br>
        <div id="paper-cards-container">
            {% if space_papers %}
                {% for paper in space_papers %}
                    <div class="card mb-3 transparent-card paper-card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/flat_icons/workspace/paper.png" class="img-fluid rounded-start" alt="Paper">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <br><br>
                                    <h4 class="card-title">
                                        <a href="{% url 'paper_work:paper_space' paper.pk %}" class="light-blue">{{ paper.title }}</a>
                                    </h4>
                                    <p class="card-text">By {{ paper.user }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card mb-3 transparent-card paper-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/flat_icons/workspace/new_paper.png" class="img-fluid rounded-start" alt="New Paper">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <br><br>
                            <h4 class="card-title">
                                <a onclick="show_new_paper_form('{{ space.pk }}');return false" class="light-blue" href="#">New Paper</a>
                            </h4>
                            <p class="card-text">Click above to create...<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workspace-area" id="members-area" style="display: none;">
        <h2>Owner</h2><br>
        <!-- Owner Card -->
        <div class="card mb-3 transparent-card member-card" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/images/flat_icons/workspace/owner.png" class="img-fluid rounded-start" alt="Zip Archive">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <br><h4 class="card-title" style="color: #118ab2;">{{ owner }}</h4>
                        <p class="card-text">{{ owner.username }}<br><small class="text-body-secondary">{{ owner.email }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% if members %}
            <br><br>
            <h2>Members</h2><br>
            <div id="member-cards-container">
                {% for member in members %}
                    <!-- Member Card -->
                    <div class="card mb-3 transparent-card member-card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/flat_icons/workspace/member.png" class="img-fluid rounded-start" alt="Zip Archive">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <br><h4 class="card-title">{{ member }}</h4>
                                    <p class="card-text">{{ member.username }}<br>
                                        <small class="text-body-secondary">{{ member.email }}</small>
                                        {% if user_status == 'owner' %}
                                            <br>
                                            <a href="#remove-member-modal-{{ member.pk }}" class="color-red" data-bs-toggle="modal" data-bs-target="#remove-member-modal-{{ member.pk }}">
                                                Kick this member out
                                            </a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if user_status == 'owner' %}
                        <!-- Remove Member Modal -->
                        <div class="modal fade" id="remove-member-modal-{{ member.pk }}" tabindex="-1" aria-labelledby="remove-member-modal-label-{{ member.pk }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="remove-member-modal-label-{{ member.pk }}">Kick {{ member }} out!</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure you want to do it?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger">
                                            <a href="{% url 'work_space:kick_member_out' space.pk member.pk %}" class="color-white">Kick them out!</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="workspace-area" id="actions-area" style="display: none;">
        <div class="cards-row">
            <!-- Workspace Downloading Card -->
            <div class="card mb-3 transparent-card left-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/static/images/flat_icons/workspace/zip-archive.png" class="img-fluid rounded-start" alt="Zip Archive">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Download Workspace</h5>
                            <p class="card-text">
                                Click here to download whole workspace:&nbsp;&nbsp;
                                <a href="{% url 'work_space:download_space' space.pk %}" class="light-blue">
                                    <small>{{ space }}.zip</small>
                                </a>
                                <br><br>
                                Click here to download only sources inside workspace:&nbsp;&nbsp;
                                <a href="{% url 'work_space:download_space_sources' space.pk %}" class="light-blue">
                                    <small>Sources.zip</small>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% if user_status == 'owner' %}
                <!-- Invite to Workspace Card -->
                <div class="card mb-3 transparent-card right-card" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/static/images/flat_icons/workspace/invite-to-space.png" class="img-fluid rounded-start" alt="Invitation">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Invite to Workspace</h5>
                                <p class="card-text">
                                    <br>Click here to create invitation code or link:&nbsp;&nbsp;
                                    <a onclick="invite_to_work_space('{{ space.pk }}')" href="#invite-to-space-modal" class="light-blue" data-bs-toggle="modal" data-bs-target="#invite-to-space-modal">
                                        http://very-secret-link.com
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- Leave Workspace Card -->
                <div class="card mb-3 transparent-card right-card" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/static/images/flat_icons/workspace/leave_space.png" class="img-fluid rounded-start" alt="Leaving">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <br><h5 class="card-title">Leave Workspace</h5>
                                <p class="card-text">
                                    <br>Click here at your own risk:<br>
                                    <a onclick="enable_scrolling();" href="#leave-space-modal" class="color-red" data-bs-toggle="modal" data-bs-target="#leave-space-modal">
                                        Leave {{ space }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div><br><br>
        {% if user_status == 'owner' %}
            <div class="cards-row">
                {% if space_has_sources %}
                    <!-- Share Sources Card -->
                    <div class="card mb-3 transparent-card left-card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/static/images/flat_icons/workspace/share_sources.png" class="img-fluid rounded-start" alt="Sources Sharing">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Share Sources</h5>
                                    <p class="card-text">
                                        <br>Click here to create special code or link:&nbsp;&nbsp;
                                        <a onclick="share_space_sources('{{ space.pk }}')" href="#share-sources-modal" class="light-blue" data-bs-toggle="modal" data-bs-target="#share-sources-modal">
                                            http://here-are-my-sources.com
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Workspace Archivation Card -->
                <div class="card mb-3 transparent-card right-card" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/static/images/flat_icons/workspace/archive_workspace.png" class="img-fluid rounded-start" alt="Archivation">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Archive Workspace</h5>
                                <p class="card-text">
                                    <br>Click here at your own risk:<br>
                                    <a onclick="enable_scrolling();" href="#space-archive-modal" class="color-red" data-bs-toggle="modal" data-bs-target="#space-archive-modal">
                                        Archive {{ space }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Invite to Workspace Modal -->
        <div class="modal fade" id="invite-to-space-modal" tabindex="-1" aria-labelledby="invite-to-space-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 light-blue" id="invite-to-space-modal-label">Send it to your friend!</h1>
                        <button type="button" class="btn-close close-header-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Invitation code</h4>
                        <textarea class="form-control reference-textarea mt-3" id="invitation-code-textarea"></textarea>
                        <button onclick="copy_invitation('invitation', 'code')" type="button" class="btn btn-dark mt-3 mb-4 ms-1">Copy</button>
                        <h4>Or invitation link</h4>
                        <textarea class="form-control reference-textarea mt-3" id="invitation-link-textarea"></textarea>
                        <button onclick="copy_invitation('invitation', 'link')" type="button" class="btn btn-dark mt-3 ms-1">Copy</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-footer-button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Share Sources Modal -->
        <div class="modal fade" id="share-sources-modal" tabindex="-1" aria-labelledby="share-sources-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 light-blue" id="share-sources-modal-label">Send it to your friend!</h1>
                        <button type="button" class="btn-close close-header-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Shared sources code</h4>
                        <textarea class="form-control reference-textarea mt-3" id="sources-code-textarea"></textarea>
                        <button onclick="copy_invitation('sources', 'code')" type="button" class="btn btn-dark mt-3 mb-4 ms-1">Copy</button>
                        <h4>Or shared sources link</h4>
                        <textarea class="form-control reference-textarea mt-3" id="sources-link-textarea"></textarea>
                        <button onclick="copy_invitation('sources', 'link')" type="button" class="btn btn-dark mt-3 ms-1">Copy</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-footer-button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Leaving Workspace Modal -->
        <div class="modal fade" id="leave-space-modal" tabindex="-1" aria-labelledby="leave-space-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="leave-space-modal-label">You are about to leave {{ space}}!</h1>
                        <button type="button" class="btn-close close-header-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to leave this Workspace?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-footer-button" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'work_space:leave_space' space.pk %}" class="color-white">Leave Workspace</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Workspace Archivation Modal -->
        <div class="modal fade" id="space-archive-modal" tabindex="-1" aria-labelledby="space-archive-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="space-archive-modal-label">{{ space}} will be archived!</h1>
                        <button type="button" class="btn-close close-header-button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to archive this Workspace?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">
                            <a href="{% url 'work_space:archive_space' space.pk %}" class="color-white">Archive Workspace</a>
                        </button>
                        <button type="button" class="btn btn-secondary close-footer-button" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hidden parts of page -->
    <div id="space_id" style="display: none;">{{ space.pk }}</div>
    <div id="new-paper-form" style="display: none;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a data-bs-toggle="collapse" class="mt-5" id="open-new-paper-form" href="#new-paper-form-area" role="button" aria-expanded="false" aria-controls="new-paper-form-area">
            <h2 class="text-uppercase text-center mb-3 color-white">Create New Paper&nbsp;&nbsp;<i class="fa-solid fa-circle-plus"></i></h2>
        </a>
        <div class="collapse" id="new-paper-form-area">
            <form action="{% url 'paper_work:create_paper' space.pk %}" class="needs-validation mt-3" id="paper-form" method="post" novalidate>
                {% csrf_token %}
                <div class="form-outline mb-4 form-floating">         
                    {{ new_paper_form.title }}
                    <label class="form-label" for="title-field">Paper Title</label>
                    <div class="invalid-feedback">Please provide paper title.</div>
                </div>
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-success btn-block btn-lg gradient-custom-4"></input>
                </div> 
            </form>
        </div>
    </div>
    <div id="rename-workspace-form-div" style="display: none;">
        <form action="{% url 'work_space:rename_space' space.pk %}" class="rename-form" method="post" style="display: inline-block;">
            {% csrf_token %}
            <div class="form-outline row">
                <div class="col-md">
                    {{ rename_form.title }}
                </div>
                <div class="col-md">
                    <input type="submit" value="Rename" class="btn btn-info gradient-custom-4">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
