{% extends "layout.html" %}
{% load static %}

{% block body %}


    <h3>{{ book }}</h3>

    <form enctype="multipart/form-data" action="{% url 'bookshelf:upload_book' book.pk %}" method="post">
        {% csrf_token %} 
        {{ upload_form }}
        <button type="submit">Upload Book</button>
    </form>

   
    </ul><br><br><br>

    <form action="{% url 'bookshelf:alter_book' book.pk %}" method="post">
        {% csrf_token %} 
        {{ alter_form }}
        <button type="submit">Alter Book Info</button>
    </form>


{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}