{% extends "website/layout.html" %}
{% load static %}

{% block body %}


    <h3>{{ source }}</h3>

    
    <a href="{% url 'bookshelf:display_source_file' source.pk %}"><h2>File</h2></a><br><br>

    <form enctype="multipart/form-data" action="{% url 'bookshelf:upload_source_file' source.pk %}" method="post">
        {% csrf_token %} 
        {{ upload_form }}
        <button type="submit">Upload Book</button>
    </form>

    <br><br>

    <h4>Add link</h4>
    <form action="{% url 'bookshelf:add_link' source.pk %}" method="post">
        {% csrf_token %} 
        {{ link_form }}
        <button type="submit">Add</button>
    </form>
    <br><br>
    <h5><a href="{{ source.link }}">Link</a></h5>

    <br><br>

    <h4>Endnotes</h4>
    <ul>
        <li>{{ endnotes.apa }}</li>
        <li>{{ endnotes.mla }}</li>
    </ul>

    <form action="{% url 'bookshelf:alter_endnote' endnotes.pk %}" method="post">
        {% csrf_token %} 
        {{ endnote_form }}
        <button type="submit">Alter Endnotes</button>
    </form>

   
    <br><br><br>
    <br><br><br>

    <form action="{% url 'bookshelf:alter_source' source.pk %}" method="post">
        {% csrf_token %} 
        {{ alter_form.as_p }}
        <button type="submit">Alter Source Info</button>
    </form>

    <br><br><br>
    <br><br><br>
    <br><br><br>

    <form action="{% url 'bookshelf:add_quote' source.pk %}" method="post">
        {% csrf_token %} 
        {{ quote_form }}
        <button type="submit">Alter Quote</button>
    </form>


    <h3>Quotes</h3>
    <ul>
        {% for quote in quotes %}
        <li>{{ quote }} | Quote apa: {{ quote.apa }} | Quote mla: {{ quote.mla }}
            <a href="{% url 'bookshelf:delete_quote' quote.pk %}">Delete quote</a>
        </li>
        {% endfor %}
    </ul>


{% endblock %}

{% block script %}
    <script src="{% static 'user_management/script.js' %}"></script>
{% endblock %}