{% extends "layout.html" %}
{% load static %}

{% block body %}

    <h2>{{ user }}</h2><br><br>

    <h4>Followers:</h4>
    <ul>
        {% for follower in followers %}
        <li>{{ follower }}</li>
        {% endfor %}
    </ul>

    <h5>Number of following profiles: {{ following  }}</h5><br><br>


    <h4>Published papers:</h4>
    <ul>
        {% for title, file in published_papers.items %}
        <li>
            <a href="{% url 'file_handling:display_file' file %}">{{ title }}</a>
        </li>
        {% endfor %}
    </ul>
    

{% endblock %}

{% block script %}
    
{% endblock %}