{% extends "layout.html" %}
{% load static %}

{% block body %}

    <h2>{{ user }}</h2><br><br>

    <h4>Followers:</h4>
    <ul>
        {% for follower in followers %}
        <li>{{ follower }}</li>
        {% endfor %}
    </ul>

    <h4>Number of followers:</h4>
    <h4 id="number_of_followers">{{ number_of_followers }}</h4>

    <h5>Number of following profiles: {{ following  }}</h5><br><br>


    <h4>Published papers:</h4>
    <ul>
        {% for title, file in published_papers.items %}
        <li>
            <a href="{% url 'file_handling:display_file' file %}">{{ title }}</a>
        </li>
        {% endfor %}
    </ul>

    <button type="button" id="follow_button">Follow</button>


    <div id="profile_id" style="display: none;">{{ profile_id }}</div>

{% endblock %}

{% block script %}
    <script src="{% static 'profile_page/script.js' %}"></script>
{% endblock %}
